<div class="image">
  <img src="images/Peepal.jpg">
</div>

<div class="content">

  <h2>PEEPAL TREE (Scientific Name: Ficus Religiosa)</h2>

  <p>  Peepal is a large, fast growing deciduous tree with heart shaped leaf. It is a medium size tree and has a large crown with the wonderful wide spreading branches. It shed its leaves in the month of March and April. The figs which contain the flowers grow in pairs just below the leaves and look like the berries. Its bark is light gray and peels in patches. It is one of the longest living trees.   </p>

  <p>Peepal tree is grown throughout India. <i> Ficus religiosa </i> is grown by specialty tree plant nurseries for use as an ornamental tree, in gardens and parks in tropical and subtropical climates. Peepal trees are native to India and thrive in hot, humid weather. They prefer full sunlight and can grow in most soil types, though loam is the best.</p>

  <h3>Uses </h3>
  <p>This tree of life has wide medicinal value in ayurveda. The juice of its leaves extracted by holding them near the fire can be used as an ear drop. The bark of the tree is useful in inflammations and glandular swelling of the neck. Its root bark is useful for stomatitis, clean ulcers, and promotes granulations. Its roots are also good for gout. The roots are even chewed to prevent gum diseases. Its fruit is laxative which promotes digestion and checks vomiting. The powered fruit is taken for Asthma. Its seeds have proved useful in urinary troubles. The leaves are used to treat constipation. </p>

  <p>People collect Peepal leaves, clean and dry them, and paint them with gold acrylic for preservation purposes. From the bark of the Peepal tree, reddish dye is extracted. Its leaves are used to feed the camels and the elephants. </p>

  <h3>Religious Significance</h3>
  <p> The sacred fig is considered to have a religious significance in three major religions that originated on the Indian subcontinent, Buddhism, Hinduism and Jainism. It is the type of tree that Gautama Buddha is believed to have attained enlightenment under, and Hindu and Jain ascetics also consider the tree to be sacred and often meditate under them.</p>

  <p>In the Bhagavad Gita, Krishna says, "I am the Peepal tree among the trees, Narada among the sages, Chitraaratha among the Gandharvas, And sage Kapila among the Siddhas."</p>

  <h3> Buddhism</h3>
  <p>Gautama Buddha attained enlightenment <i> (bodhi) </i> while meditating underneath a <i>Ficus religiosa </i>. The site is in present-day Bodh Gaya in Bihar, India. The original tree was destroyed and has been replaced several times. A branch of the original tree was rooted in Anuradhapura, Sri Lanka in 288 BC and is known as Jaya Sri Maha Bodhi; it is the oldest flowering plant (angiosperm) in the world. <br>
    Not all <i> Ficus religiosa </i> can be called a Bodhi Tree. A Bodhi Tree must be able to trace its parent to another Bodhi Tree and the line goes on until the first <i> Bodhi Tree </i> under which Gautama is said to have gained enlightenment.  </p>

  <h3>Hinduism</h3>
  <p>Sadhus (Hindu ascetics) still meditate beneath sacred fig trees, and Hindus do pradakshina (circumambulation, or meditative pacing) around the sacred fig tree as a mark of worship.</p>




</div>

<!-- pagination-->
<div class="pagination">
  <a href="/banyan">&laquo;</a>
  <a href="/banyan">1</a>
  <a href="/peepal" class="active" >2</a>
  <a href="/neem" >3</a>
  <a href="/eucalyptus">4</a>
  <a href="/jamun">5</a>
  <a href="/tamarind">6</a>
  <a href="/neem">&raquo;</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>


