

/* Create three equal columns that floats next to each other */
.column{
  margin:35px;
  float: left;
  width: 27.33%;
  text-align: left;
  height: inherit; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.social-plugins{
  background-color: #bbb;
  height:100vh;
  overflow: hidden;

}






@media screen and (max-width: 600px) {
  .column{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .social-plugins{
    height:auto;
    overflow: hidden;

  }



}






@media screen and (max-width: 900px) {

  .column{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .social-plugins{
    height:auto;
    overflow: hidden;

  }

}
