<div class="footer">
  <div class="footer_row">
    <div class="footer_column">
      <a onclick=" window.open('https://twitter.com/OstinoHealth?ref_src=twsrc%5Etfw&ref_url=file%3A%2F%2F%2FC%3A%2FUsers%2FAnkit%2FDesktop%2Fostinohealth%2520res%2Fsocial-media.html','_blank')" class="fa fa-twitter" aria-hidden="true" style="font-size:20px;color:white;cursor: pointer;"></a>
      &nbsp;&nbsp;&nbsp;&copy; 2018  Ostino Enterprises Pvt.Ltd. | All rights reserved  </div>
    <div class="footer_column">
      <a href="/disclaimer">Disclaimer</a> </div>
  </div>
</div>
