<div class="container">

<div class="accord">

  <p class="accordion">An apple a day keeps doctor away? or was it banana?</p>
  <div class="panel">Scientific Name<br>
    Banana: Almost all modern edible parthenocarpic (seedless) bananas come from two wild species - Musa acuminata and Musa balbisiana. The scientific names of most cultivated bananas are Musa acuminata, Musa balbisiana, and Musa  paradisiaca for the hybrid Musa acuminata
    M. balbisiana, depending on their genomic constitution. The old scientific name Musa sapientum is no longer used.
    Apple: Malus domestica<br><br>

    Contrary to popular belief, it is not the apple that keeps the Doctor away. Often the many benefits of banana are forgotten and it is wrongly tagged as a 'weight gain' fruit. From a calorific standpoint, the difference is minimal. A medium sized banana has 105 calories vis-as-vis 95 alories in the apple. While a medium apple weighs 182 grams compared to 118 grams for a banana. In other words, the apple has a lower calorie density making you feel full on fewer calories as opposed to the banana.<br><br>

    <h2>1.1 Heart Quotient: No clear winner</h2>
    Apple possesses a particular type of fiber called pectin that is good for preventing the body from absorbing cholesterol from the food we eat or produced by the liver. Relatively speaking it is better for lowering blood cholesterol.<br>
    Banana on the other hand contains a high amount of potassium ion. The American Heart Association recommends 4700 mg of potassium for optimum heart health. 1 cup of mashed banana contains 358 mg of potassium.<br><br>

    <h2>1.2 Nutrition Quotient: Banana is the winner</h2>
    Banana is also a rich source of Vitamin B, which in combination with folic acid lowers the level of homocysteine in the blood. To put things in perspective, high level of homocysteine in the blood increases the risk of plaque formation that leads to blockage of blood vessel and eventually heart disease. It is also a good source of Vitamin B6, Vitamin C, Manganese and Folate along with being rich in fiber.<br>
    Bananas are high in iron and can stimulate the production of haemoglobin in the blood and hence are recommended to those with anemia.<br><br>

    <h2>1.3 Antioxidant Quotient: Apple is the winner</h2>
    Apple is a good source of antioxidants. Research has confirmed that flavonoids, a type of antioxidant abundant in apples, help prevent heart disease and stroke. So, next time you peel off the apple skin you are going lose its nutrition, hence remember not to peel the skin.<br>
    Apple contains a quercetin, which makes oxygen available in the lungs and this helps in endurance sports. Banana is a rich source of Manganese, which is an important co-factor of antioxidant super oxide dismutase.<br><br>

    <h2>1.4 In Summary: Banana stands out</h2>

    Both the apple and banana have their benefits. Use the banana for energy and a good source of potassium, while the apple is an excellent source of antioxidants.<br>
    Bananas are more nutrient dense while apples are antioxidant dense. We recommend having an apple in the morning along with your breakfast and banana as a post prandial supplement during the day.
  </div>

  <p class="accordion">Do It Yourself Ayurvedic Hair Oil for Stopping hair loss, Strong, Lustrous hair</p>
  <div class="panel">Scientific Name<br>
    Fenugreek: Trigonella foenum-graecum<br>
    Coconut: Cocos nucifera<br><br>

    New hair growth is a different topic and is not in scope for this treatment. Fenugreek does not impact hormonal imbalance related hair issues in men; it only works in females with hormone related issues. It heals funguses and bacterial infections on the scalp for both men and women.<br>

    <h2>1.1 Background</h2>
    Fenugreek is supposed to contain hormonal precursors compounds that improves the growth of hair and strengthens the hair follicles. Fenugreek also contains lecithin, nicotinic acid and proteins that effectively stimulates hair growth.<br>
    Coconut oil has been widely used for its various hair benefits because of its rich nutrient content.Coconut oil is highly rich in vitamin E, K and iron which boost hair growth. Coconut oil also has capric and lauric acid which effectively aids in protein regrowth in the hair making it stronger.<br>
    Fenugreek combined with coconut oil is one of the best homemade mixture for hair growth.<br><br>

    <h2>1.2 Ingredients:</h2>
    Fenugreek or methi seeds (1 tablespoon), Coconut Oil (500 ml), 2 petals of Hibiscus flower, 1 gooseberry or amla<br>

    <h2>1.3 Process:</h2>
    - Grate the fenugreek seeds and set it aside. Similarly, grate gooseberry and set it aside.<br>
    - Mash the Hibiscus petals<br>
    - Heat the coconut oil till you see air bubbles<br>
    - Pour the seed paste, gooseberry flesh paste and Hibiscus leaves paste on the hot coconut oil and
    stir for five minutes<br>
    - Cool the mixture and bring it to room temperature<br>
    - Filter the oil and you are ready.<br>

    <h2>1.4 Frequency:</h2>
    Use the oil at least twice a week for one month at a stretch. The oil needs to be massaged on the scalp and kept for half an hour before rinsing it off.<br>
    All the best.
  </div>

  <p class="accordion">Do It Yourself for treating wounds with Marigold Leaf</p>
  <div class="panel">Scientific Name: Tagetes erecta (Other popular species are T.patula, T.minuta, T.tenuifolia) <br>
    <br>
    Marigold is native of Central and South America, especially Mexico. From Mexico it spread to different parts of the world during early part of the 16th century. The name Tagetes was given after Tages, a demigod, known for his beauty.<br><br>

    Leaf paste is used externally against boils and carbuncles. Leaf extract is a good remedy for ear ache. Flowers extract is considered as blood purifier, a cure for bleeding piles and is also a good remedy for eye disease and ulcers. The essential oil present in different species of Tagetes can find use in the perfume industry.<br><br>

    Studies have confirmed the nematocidal, fungicidal, antibacterial and insecticidal properties that aid in wound healing of marigold leaf extracts. Since marigold leaf has antibacterial properties too, therefore, it might be possible in the future to develop an antiseptic with blood coagulation activity.<br><br>

    <h2>1.1 Studies</h2>

    Marigold leaf extracts have also shown antibacterial property against several gram-positive and ram-negative bacteria (Nandita et al. 2012). It also has antioxidant (Gordana et al. 2004) and wound healing properties (Bashir and Gilani 2008). Research is still in progress to find the possible mechanism of action for the wound healing property of marigold leaves.<br><br>

    As marigold leaves have many medicinal properties, e.g. antibiotic, antifungal, nematocidal, wound healing, etc., they may have a future role as an antiseptic with blood coagulation activity. The leaf extract could also be emulsified and used as a coagulant in tissue engineering<br><br>

    Refer Extraction-based blood coagulation activity of marigold leaf: a comparative study by Nandita Dasgupta & Shivendu Ranjan & Saleh M. A. Arabi Mohammed & Pradeep Singh Jadon & Samuel S. Melvin & Annie Deborrah Harris & Arkadyuti Roy Chakraborty & Chidambaram Ramalingama<br>
    Comparative Clinical Pathology 06/2014; DOI: 10.1007/s00580-014-1943-5
  </div>

  <p class="accordion">Vitamin D Part I - The Sunshine Vitamin</p>
  <div class="panel">Good day sunshine, <br><br>

    Good day sunshine,<br><br>

    Good day sunshine, <br><br>

    I need to laugh, and when the sun is out<br><br>

    I've got something I can laugh about,<br><br>

    I feel good, in a special way.<br><br>

    I'm in love and it's a sunny day.<br>

    - Beatles Good Day Sunshine lyrics<br><br>

    <strong>Vitamin D or the 'sunshine vitamin'</strong>is not actually a vitamin.<br><br>

    Vitamins by definition are essential organic compounds which cannot be synthesized by the body and must be ingested; Vitamin D is synthesized by the body, and functions as a prehormone. However, if the body does not make enough, it can also be obtained from food sources.<br><br>

    Also what makes vitamin D unique compared to other vitamins, is that when your body gets its vitamin D, it turns vitamin D into a hormone. This hormone is sometimes called "activated vitamin D" or "calcitriol." Thus, Vitamin D is a steroid hormone, which is made in the body under the right conditions.<br><br>

    <h2>Types</h2>

    In total, there are 5 different forms, D 1 to D 5 . The most common ones are D 2 and D 3 . D 3 (also called cholecalciferol) is the kind produced by the body. It is also found naturally in marine oils and in lanolin (oil from sheep's wool), the most common source for supplements. D 2 (also called ergocalciferol) is produced by fungi such as mushrooms from exposure to sunlight. It is similar to D 3 , but not exactly the same.<br><br>

    Both types must be converted into the hormone calcitriol before they're active and able to benefit your body. Vitamin D is sometimes referred to as calciferol, but it's commonly used as an umbrella term to include vitamins D-2 and D-3.<br><br>

    The recommended form of vitamin D is vitamin D3 or cholecalciferol. This is the natural form of vitamin D that your body makes from sunlight.<br><br>

    <h2>Functions of Vitamin D</h2>

    Vitamin D is an essential nutrient that keeps the bones and teeth healthy. It also plays a major role in regulation and absorption of calcium in the body. Calcium strengthens the bones but is only useful in the presence of Vitamin D. The Vitamin acts on cells in the body and allows them to absorb calcium
    from the intestines. This ensures that there is enough calcium for the body to use. So essentially, one cannot do without the other.<br>
    <h1>Some of the functions of the body that vitamin D helps with include: </h1>

    Immune system, which helps you to fight infection<br>
    Muscle function<br>
    Cardiovascular function, for a healthy heart and circulation<br>
    Respiratory system -for healthy lungs and airways<br>
    Brain development<br>
    Anti-cancer effects<br><br>

    Doctors are still working to fully understand how vitamin D works within your body and how it affects your overall health.<br><br>

    Stay posted for further practical information on Vitamin D<br><br>

    -------------

    <h2> Vitamin D Part II: Mechanism of Action</h2>

    "I checked it very thoroughly," said the computer, "and that quite definitely is the answer. I think the problem, to be quite honest with you, is that you've never actually known what the question is." - Quote from Hithhiker's Guide to the Galaxy<br><br>

    All types of Vitamin D have similar mechanism of action.<br><br>

    Vitamin D is carried in the bloodstream to the liver, where it is converted into the prohormone calcidiol. Circulating calcidiol may then be converted into calcitriol, the biologically active form of vitamin D, in the kidneys. Following the final converting step in the kidney, calcitriol is released into the circulation. By binding to vitamin D-binding protein, a carrier protein in the plasma, calcitriol is transported to various target organs.<br><br>

    In addition to the kidneys, calcitriol is also synthesized by monocyte-macrophages in the immune system. When synthesized by monocyte-macrophages, calcitriol acts locally as a cytokine, defending the body against microbial invaders by stimulating the innate immune system.<br><br>

    Because of its potency, different forms of vitamin D are used in prescription medications. If you have a prescription for one of these medications, do not switch to another form of vitamin D without checking with your doctor.<br><br>

    <h2>Vitamin D3: For the curious reader</h2>

    Vitamin D3 (Cholecalciferol) is one of the five forms of Vitamin D. Cholecalciferol is inactive: it is converted to its active form by two hydroxylations: the first in the liver to form 25-hydroxycholecalciferol (calcidiol or 25(OH)D). This reaction is catalyzed by the microsomal enzyme vitamin D 25-hydroxylase, which is produced by hepatocytes<br><br>

    Once made, the product is released into the plasma, where it is bound to an α-globulin, vitamin D-binding protein. Calcidiol is transported to the proximal tubules of the kidneys, where it is hydroxylated at the 1-α position (lower right of the molecule) to form calcitriol (1,25-dihydroxycholecalciferol and abbreviated to 1,25(OH) 2 D). This product is a potent ligand of the vitamin D receptor, which mediates most of the physiological actions of the vitamin. Vitamin D receptor, a nuclear receptor which regulates the synthesis of hundreds of enzymes and is present in virtually every cell in the body.<br><br>

    The conversion of calcidiol to calcitriol is catalyzed by the enzyme 25-hydroxyvitamin D 3 1-alpha-hydroxylase, the levels of which are increased by parathyroid hormone (and additionally by low calcium or phosphate).<br><br>

    <h2>Trivia on Vitamin D2:</h2> Vitamin D-2, or ergocalciferol, is the form made by mushrooms from exposure to sunlight.<br><br>

    <h2>In summary</h2>

    There are several biological mechanisms that contribute to the superior absorbability and efficacy of Vitamin D3. In the liver, thanks to a particular hepatic enzyme, Vitamin D3 is more readily metabolized into a bioactive form of D that is easily converted to its hormone form in the kidneys. It
    takes much longer to make this hepatic conversion with Vitamin D2.<br><br>

    UVB light from the sun strikes the skin, and humans synthesize vitamin D3, so it is the most "natural" form. Human beings do not make vitamin D2, and most healthy fish contain vitamin D3.<br><br>

    Source: Vitamin D – Wikipedia<br><br>

    -------------------------------

    <h2>Vitamin D Part III: Daily Need</h2>

    I've always heard that things will look different in the morning<br>
    How true that saying is today<br>
    A glimpse of hope, peace and promise<br><br>

    Without enough vitamin D, it wouldn't matter how much calcium you ate to keep your bones strong because vitamin D controls the absorption of dietary calcium. Vitamin D also regulates the growth of cells, including cells that activate your immune response and kill bacteria. Ongoing research suggests that vitamin D may help prevent cancer and lower blood pressure<br><br>

    Vitamin D deficiency can lead to rickets, a weakened immune system, increased cancer risk, poor hair growth, and skeletal disorders such as osteomalacia and osteoporosis. Excess vitamin D can cause the body to absorb too much calcium, leading to increased risk of heart disease and kidney stones.<br><br>

    The current U.S. Daily Value for vitamin D is 600 IU (international units) and the toxicity threshold is thought to be 10,000 to 40,000 IU/day (Source: Office of Dietary Supplements - Vitamin D). Sometimes vitamin D values are given in micrograms (mcg,μg), when this is the case remember that 1μg=40IU for Vitamin D. Vitamin D is oil soluble, which means you need to eat fat to absorb it.<br><br>

    The Endocrine Society of India has recommended vitamin D supplementation for Indian people in a set of guidelines intended to combat the country's high prevalence of vitamin D deficiency. The guidelines, which were written by a group of 22 experts convened by the society, recommended 400 international units (IU) of vitamin D a day for infants, 600-1000 IU for children, 1000 IU for adolescents and pregnant women after 12 weeks' gestation, and 1000-2000 IU for adults. Source: Indian endocrinologists set guidance to combat vitamin D deficiency BMJ 2015; 351 doi: http://dx.doi.org/10.1136/bmj.h5997 (Published 09 November 2015) Cite this as: BMJ 2015;351:h5997<br><br>

    Since you can't be certain how much vitamin D your body makes from sunlight, you should include 15 micrograms, or 600 international units, of vitamin D in your daily diet.<br><br>

    ----------------------------

    <h2>Vitamin D Part IV: Dietary Sources</h2>

    'Come, it's pleased so far,' ' thought Alice, and she went on. 'Would you tell me, please, which way I ought to go from here?'' 'That depends a good deal on where you want to get to,'' said the Cat. 'I don't much care where-'' said Alice. 'Then it doesn't matter which way you go,' said the Cat. -Quote from Alice in Wonderland<br><br>

    Natural foods high in vitamin D include fish oils, fatty fish, mushrooms, beef liver, cheese, and egg yolks. Vitamin D is also naturally made by your body when you expose your skin to the sun, and is called the sun-shine vitamin.<br><br>

    Sunshine: Sunshine is the best natural source of vitamin D.  A regular dose of sunshine can increase your vitamin D intake greatly. When the sun rays hit our skin, it stimulates the production of vitamin D in the body. Around 30 to 60 minutes of walking in sun will provide you with adequate vitamin D required for the day. To boost your vitamin D levels when in the sun, expose at least your face, arms and hands, or equivalent area of skin as for vitamin D to be produced, your skin must not be covered with clothing.<br><br>

    Salmon has by far the highest amount of vitamin D among all the vitamin D sources. Salmon has a high fat content which makes it an excellent source of Vitamin D. Half a fillet of sockeye salmon contains 1400 IU of vitamin, which make it twice the recommended amount you need for a day.<br><br>

    Mushrooms is another Vitamin D rich food. This is because they are grown in the sunlight and are great at absorbing sunlight. Mushrooms are also rich in B complex vitamins like B1 and B2. Mushrooms also contain Vitamin B5 and copper. Always choose mushrooms that are dried in natural sunlight and not by artificial means as they are the most beneficent. The amount of Vitamin D in mushrooms varies according to its types and varieties.<br><br>

    Cod liver oil has been a popular supplement for many years and is extremely rich in Vitamin D, Vitamin A and omega 3 fatty acids. Consuming this oil regularly will promote healthy and strong bones, prevent osteoporosis in adults and improve brain activity. Cod liver oil is also available in capsule form which is the best option for those who don't like its strong aroma.<br><br>

    Eggs contain vitamin D in small amounts. Including one egg daily in your diet will provide you with 10% of recommended Vitamin D. Pasture raised hens spend a lot of time outdoors thus containing the highest amount of Vitamin D than any other eggs in the market. Besides Vitamin D, eggs are also a good source of Vitamin B12 and protein.<br><br>

    Sources:<br>
    -Wikipedia on Vitamin D<br>
    -www.health.com<br>
    -www.webmd.com<br></div>

</div>


</div>
