
.container{
  height: 100%;
}


.accord{
  background-color: #bbb;
  height: 100%;
  overflow: hidden;
}

/* Style the element that is used to open and close the accordion class */
p.accordion {
  background-color:  #800000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 10px;
  margin-left: 180px;
  margin-top: 50px;
  font-size: 20px;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
  background-color:#f2f2f2 ;
  color:black;
  border: 2px solid #800000;
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
  content: '\2795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
  content: "\2796";
}

/* Style the element that is used for the panel class */

div.panel {
  padding: 0 18px;
  background-color:#ffe6e6;
  max-height: 0;
  overflow: hidden;
  transition: 0.1s ease-in-out;
  opacity: 0;
  margin-bottom:50px;
}

div.panel.show {
  opacity: 1;
  max-height: 100%; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 18px;
  border:2px solid #800000;
}





@media screen and (max-width: 600px) {


  p.accordion {
    padding: 2px;
    width: 100%;
    font-size: 15px;
    margin: 40px 0px 45px 0px;
    overflow: hidden;
    height: auto;
    line-height: 30px;
  }


  div.panel.show {

    font-size: 14px;
    padding: 0;
    background-color: #ffe6e6;
    height: auto;
    overflow: hidden;
  }


}



@media screen and (max-width: 900px) {

  p.accordion {
    padding: 2px;
    width: 100%;
    font-size: 15px;
    margin: 40px 0px 45px 0px;
    overflow: hidden;
    height: auto;
    line-height: 30px;
  }




  div.panel.show {
    margin:5px 0px 50px 0px;
    font-size: 14px;
    padding: 0;
    background-color: #ffe6e6;
    height: auto;
    overflow: hidden;
  }

  .accord{
    height:auto;
    overflow: hidden;
  }


}
