
.container{
  min-height: 100vh;
   background-color:#bbb;
}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  font-size: 20px;
  float: left;
  width: 50%;
  overflow: hidden;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 40px;
  height: 100%;

  /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  height: 100%;
}
.img{
  border:2px solid #a22a2a;
}

@media screen and (max-width: 600px) {
  .column{
    margin-top: 0;
    padding: 0 10px ;
    font-size: 15px;
    width:100%;
    height: auto;
    margin-bottom: 0;
  }
  .img{
    width: 30%;
    height: auto;
  }
  .row{
    height: auto;
  }

}

@media screen and (max-width: 900px) {
  .column{
    margin-top: 0;
    padding: 0 10px ;
    font-size: 15px;
    width:100%;
    height: auto;
    margin-bottom: 0;
  }
  .img{
    width: 30%;
    height: auto;
  }
  .row{
    height: auto;
  }
}
