<div class="row">
  <div class="column" >
    <h2>Surajit Banerjee</h2> <img class="img" src="images\Surajit-Banerjee.jpg" width="190px"  height="200px">
    <p>Surajit Banerjee, a Chemical Engineer and an MBA by qualification, is
      the Founder and CEO of Ostino Enterprises Pvt Ltd. <br>
      Born in Chandernagore, India, Surajit has cross-functional experience in lifesciences, healthcare and management consulting; from managing P&L   centres to starting up business divisions to strategy, operations and transactions. With a career spanning three continents, Surajit firmly believes in creating business with social impact. Along the way he has worked as an advisor to Government of India in various capacities, Multi  Nationals to Indian companies and has converted to the cause of technology being the salvation of emerging markets in ensuring access and better treatment outcomes. Surajit is an avid reader and publisher of thought provoking content, insights and all the stuff in between.</p>
  </div>
  <div class="column" >
    <h2>Madhuri Banerjee </h2> <img class="img" src="images\Madhuri-Aug-2015.jpg" width="170px" height="200px">
    <br>
    <p>Madhuri (M), is a counselor by trade, a technologist by profession with keen interest in leveraging software for healthcare solutions. Born in Jabalpur, Madhya Pradesh, Central India, in 1984 her career has spanned Information Technology, student counseling as well as the technology education space. Technology is an enabler empowering people to lead healthy lives in sync with high productivity and working at the front lines of real
      world application of technology has ingrained in her a passion to leverage technology for a healthier world.
    </p>
  </div>
</div>





<!--<div class="footer">
  <div class="footer_row">
    <div class="footer_column">
      <a  href="https://twitter.com/OstinoHealth" class="fa fa-twitter" aria-hidden="true" style="font-size:20px;color:white;"></a>
      &nbsp;&nbsp;&nbsp;&copy 2018  Ostino Enterprises Pvt.Ltd. | All rights reserved  </div>
    <div class="footer_column">
      <a href="disclaimer.html">Disclaimer</a> </div>
  </div>
</div>-->

