
.container{
  min-height: 100vh;
  background-color: #bbb;

}



.content{
  height: 100%;
  overflow: hidden;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 110px;
  background-color: #bbb;
}









@media screen and (max-width: 600px) {


  .content{
    width: 100%;
    padding-left: 10px;
    height:auto;
    font-size: 15px;
    padding-bottom: 0;
  }
.container{
  height: auto;
}


}


@media screen and (max-width: 900px) {

  .content{
    width: 100%;
    padding-left: 10px;
    height:auto;
    font-size: 15px;
    padding-bottom: 0;
  }
  .container{
    height: auto;

  }

}
