
<div class="container">

  <div class="content">

    <h2>What we stand for</h2>

    <h2>About Us</h2>

    <p>RxThru  and medthatheals are  proprietary software products of Ostino Enterprises Pvt Ltd. <br>

      Ostino Enterprises Pvt Ltd, innovates technology solutions and services that provide real-time access to patient data linked to their physicians, trends and insights basis historical data, work on adherence to therapy through digital technologies and improve the physician's clinical view of the patient to help drive better health outcomes. <br>

      All of these in a simplified hassle-free environment, easy to navigate, secured with state of the art technologies and designed to operate at network challenged environments.<p>

    <h2>Vision</h2>
    <p>Enable patients take control of the healthcare agenda</p>

    <h2>Objectives</h2>
    <p>We aim to achieve our vision by bridging the information gap; develop an ecosystem of physicians, providers, patients; real time decision making based on relevant choices that results in improved health outcomes. </p>


    <h2> Our Values </h2>

    <p>Our core values comprise of a desire to improve treatment outcomes, operate at high ethical standards and innovate technology driven solutions. <br>

      We aim to achieve our vision by bridging the information gap; develop an ecosystem of physicians, providers, patients; real time decision making based on relevant choices that results in improved health outcomes. </p>

  </div>

</div>
