<div class="content">
  <h1>Career</h1>

  <h1>We are recruiting!</h1>
  <p>For those of you passionate about making a career in a fast growing start up, feel good about your work impacting lives of patients, and at the same time take part in a fast-paced growth story; revert with your updated resume to <a href="mailto:contact@ostinohealth.com">contact@ostinohealth.com</a> mentioning the position detail.</p>

  <p><strong>Position #1: Sales Executive</strong><br>
    Interested in making a career at sales. Looking for young & energetic individuals for the role of sales executive.<br>
    Industry: Pharma / Biotech / Medical Devices<br>
    Functional Area: Sales, Business Development<br>
    Role: Sales Executive<br>
    Employment Type: Permanent Job, Full Time<br>
    Location:  NCR (Delhi / Gurgaon / Faridabad)<br></p>

  <p><strong>Key Responsibilities:</strong>
  <ul style="font-size: 20px;">
    <li>Sales Strategy - In close cooperation with his / her Manager, develop a Sales Strategy for the territory in order to ensure achievement of agreed financial targets. Ensure implementation in own region of responsibility by using an agreed Methodology and tools.</li>
    <li> Sales Plans & Activities - Carry out agreed sales plan / activities in the territory in order to achieve Sales and Profitability targets. Evaluate product sales trends in comparison with competitive products. Direct appropriate actions to increase market shares. Set priorities and push product promotion and special selling efforts to optimize results.</li>
    <li>Forecasting - Prepare accurate weekly and monthly pipeline data in CRM for Sales Forecasts for Surgical products</li>
    <li> Plan and carry out regular visits to existing customers to continually monitor requirements and satisfaction levels, business trends and competitor activity.</li>
    <li> Ensure customer relationship management system (CRM) is fully maintained and up to date.</li>
    <li>Validate sales funnel in terms of realistic chance to win contract and prepares periodic sales report showing sales volume and potential sales</li>
    <li>Plan and deliver special projects as requested by his / her Manager in order to address specific tactical and/or strategic business needs.</li>
    <li>Supply information on Market share development, competitor's activities, trends and market developments in geographic region of responsibility to Sales Management and Marketing.</li>
  </ul>

  <p><strong>Preferred Qualifications:</strong>
  <ul style="font-size: 20px;">
    <li> At least 2 year of pharmaceutical sales experience in NCR region in physician (GP / CP) segment.</li>
    <li>Whilst a Degree in a Biology, or equivalent, is nice to have, of equal value is a strong Sales experience in pharmaceutical mass market or GP / CP industry.</li>
    <li> Should be fluent in English & Hindi.</li>
    <li>     Should be able to quickly build strong relationships with our business partners.</li></ul>



  <p> <strong>Position #2: Institutional Sales Manager</strong><br>
    Employment Type: Full-time or Part-time<br>
    Location: National Capital Region (Delhi / Gurgaon / Noida / Ghaziabad)</p>

  <p>This position is responsible for effectively representing Ostino's interests before Central Government / Institutions. Specific responsibilities include: </p>
  <p><strong>Key Responsibilities:</strong>
  <ul style="font-size: 20px;">
    <li>Developing detailed written plans, including strategies to successfully implement goals, and regularly track progress against goals.</li>
    <li>Traveling to and maintaining a regular, frequent presence in various Ministry, Departments and Institutions in order to establish and cultivate professional relationships with stakeholders.</li>
    <li>Educating policymakers about Ostino's business</li>
    <li>Communicating personally with policymakers in a professional, informed manner with respect to issues affecting Ostino</li>
    <li>Expanding Ostino's presence in central and state government and industry communities, along with policy maker knowledge of Ostino.</li>
    <li>Providing concise, comprehensive written and verbal updates to Ostino</li>
    <li> Working successfully with key contacts throughout Ostino, including working across functional teams</li>
    <li> Representing Ostino at the national level in industry associations, including active participation in task forces and work groups.</li>
  </ul>

  <p><strong>Preferred Qualifications:</strong>
  <ul style="font-size: 20px;">
    <li> Bachelor's degree and at least 6 years Institutional Sales experience</li>
    <li> Master's degree and at least 4 years Institutional Sales experience</li></ul>
  <p><strong>Skills and Competencies:</strong>
  <ul style="font-size: 20px;">
    <li>Knowledge of the pharmaceutical / healthcare environment in India</li>
    <li>Understanding of institutional procurement and policies</li>
    <li>Experience handling key accounts in Government setting</li>
    <li> Superior verbal and written communications skills, including ability to facilitate trust and develop strong relationships with diverse individuals/groups</li>
    <li>Ability to make critical business decisions independently, under severe time pressure in a highly dynamic environment.</li>
    <li>Ability to organize strategy independently and to handle multiple tasks simultaneously under limited daily oversight.</li>  </ul>



  <div class="bottom_content">
    <p style="font-weight: bold">Preferred: Master's degree in Statistics / Applied Statistics</p>
    <p style="color:#511515;font-weight: bold;">Ostino Enterprises Pvt Ltd, innovates technology solutions and services that provide real-time access to patient data linked to their physicians, trends and insights basis historical data, work on adherence to therapy through digital technologies and improve the physician's clinical view of the patient to help drive better health outcomes. All of these in a simplified hassle-free environment, easy to navigate, secured with state of the art technologies and designed to operate at network challenged environments.</p>
  </div>

</div>


