.content{
  background-color: #bbb;
  overflow: hidden;
}

.content p{
  font-size: 20px;
}
.content a{
  color:#511515;
  font-weight: bold;
}

.content h1,h2,p,ul{
  padding-left: 50px;
  padding-right: 20px;
}
.bottom_content{
  height: 100%;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 20px;
}

p strong{
  font-weight: bold;
  font-size:24px;
}
a{
  text-decoration: none;
}



@media screen and (max-width: 600px) {
  .content h1{
    font-size: 20px;
  }
  .content p,.content li{
    font-size: 15px;
  }

  p strong{
    font-size:15px;
  }


  .content h1,h2,p,ul li{
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bottom_content p{
    font-size: 15px;
  }
  .bottom_content{
    height: auto;
    overflow: hidden;
    padding-bottom: 0px;
  }

  p strong{
    font-weight: bold;
    font-size:15px;
  }




}

@media screen and (max-width: 900px) {
  .content h1{
    font-size: 20px;
  }
  .content p,.content li{
    font-size: 15px;
  }

  p strong{
    font-size:15px;
  }


  .content h1,h2,p,ul li{
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bottom_content p{
    font-size: 15px;
  }
  .bottom_content{
    height: auto;
    overflow: hidden;
    padding-bottom: 0px;
  }

  p strong{
    font-weight: bold;
    font-size:15px;
  }


}

