
.container{
  background-color: #bbb;
  overflow: hidden;
  min-height: 100vh;
}

h1 {
  margin-top: 5px;
  word-spacing: 40px;
  letter-spacing: 5px;
  font-size: 6em;
  text-align: center;
  top: 0;
  margin-bottom: 20px;
}

#aDisplay{
  text-align: center;
}

.textbox{
  min-height: 80px;
  background-color: #FFFFFF;
  border: 10px solid #F9F9F9;
  padding-top:10px;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 3px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 170px;
  margin-left: 200px;
  width: 400px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}



.cookie{
  height: 500px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  padding-left: 150px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;}

/* footer */

@media only screen and (max-width: 600px) {
  h1 {
    word-spacing: normal;
    letter-spacing: normal;
    font-size: 2em;
    text-align: center;
    top: 0;
  }

  .textbox{
    min-height: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  #aDisplay{
    font-size:20px;
  }

  .column {
    width: 100%;
    padding: 5px;
  }

  .cookie{
    width: 100%;
    height: auto;
  }

  .button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 18px;
    margin-top: 0;
    overflow: hidden;
    padding:auto;
    margin-bottom: 35%;
  }

  #myImg{
    width: 100%;
  }
.container{
  height: auto;
}


}



@media only screen and (max-width: 900px)
{
  h1 {
    word-spacing: normal;
    letter-spacing: normal;
    font-size: 3em;
    text-align: center;
    top: 0;
  }

  .textbox{
    min-height: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  #aDisplay{
    font-size:20px;
  }

  .column {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .cookie{
    width: 100%;
    height: auto;
  }

  .button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 18px;
    margin-top: 0;
    overflow: hidden;
    padding:auto;
    margin-bottom: 35%;
  }

  #myImg{
    width: 100%;
  }

.container{
  height: auto;
}


}
