body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}

/*.feedback-form{
	display: flex;
    height: 100vh;
    align-items: center;
   background: url("../../../images/blur-blurred-dark-1526.jpg") ;
   background-size: cover;
}

.content-box{
	border:1px solid #800000;
	 border-radius: 2px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	color: #800000;
	background-color: white;
	overflow: hidden;
} */

button:disabled {
 /* background: transparent;*/
  cursor: not-allowed;
}
* {
    box-sizing: border-box;
}
.container{
	display: flex;
	align-items:  center;
	height: 100vh;
	 background: url("../../../images/blur-blurred-dark-1526.jpg") ;
	 overflow: hidden;
   background-size: cover;
}

.wrapper{
	margin-right: auto;
	margin-left: auto;
	border:1px solid #800000;

	overflow: hidden;
}
.content-box{
	height: 100%;
	background-color: #f2f2f2;
	overflow: hidden;
	padding: 20px;
	border-radius: 2px;
}



label{
	font-size: 18px;
}
input{
	padding: 12px 15px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}
input[type=text],input[type=email]{
	width: 100%;
	box-shadow: 0 0 2px rgba(81, 203, 238, 1);
}
input:focus,textarea:focus {
    background-color: #ffffcc;
}
textarea{
	width: 100%;
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 15px;
    resize: none;
    outline: none;
    box-shadow: 0 0 2px rgba(81, 203, 238, 1);
}

/*input[type=radio]{
	cursor: pointer;
} */
.button{
 background-color:  #b30000;
  border-radius: 7px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #800000;
  color: white;
}


@media screen and (max-width: 600px) {

/*.content-box{
	width: 88%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	color: #800000;
	background-color: white;
	height: auto;
} */
.container{
	overflow: hidden;
	min-height: 100vh;
}

.wrapper{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.content-box{
	height:auto;
	padding: 10px;

}

label{
	font-size: 14px;
}
input{
	padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}
textarea{
	width: 100%;
	margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.button{
  padding: 10px 22px;
  font-size: 14px;
}
}

@media screen and (max-width: 900px) {

/*.content-box{
	width: 88%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	color: #800000;
	background-color: white;
	height: auto;
} */
.container{
	overflow: hidden;
	height: auto;
}

.wrapper{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	margin-top:5%;
	margin-bottom: 5%;
}
.content-box{
	height:auto;
	padding: 10px;
}

label{
	font-size: 14px;
}
input{
	padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}
textarea{
	width: 100%;
	margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.button{
  padding: 10px 22px;
  font-size: 14px;
}
}



