

<div class="container">

	<div class="wrapper">
<div class="content-box">
	<h1 style="text-align: center;">Feedback</h1>

	<h3>Please provide your feedback below:</h3>

	<label for="name">Name</label><br>
	<input type="text" name="name" placeholder="Name">
	

	<label for="email">Email</label><br>
	<input type="email" name="email" placeholder="Email">
	

<!--	<label for="ratings">How do you rate your overall experience?</label><br>
	 <input type="radio" name="ratings" value="good"> Good  
	 <input type="radio" name="ratings" value="average"> Average
	 <input type="radio" name="ratings" value="bad" checked> Bad
	  <br>  -->


	<label for="message">Message</label><br>
	<textarea rows="4" cols="50" name="message" form="usrform" placeholder="Comments">
	</textarea>

	<a href="mailto:contact@ostinohealth.com"><button class="button">Send</button></a>


</div>
</div>
 </div>