
<div class="image">
  <img src="images/Tamarind.jpg">
</div>

<div class="content">

  <h2>TAMARIND TREE (Scientific Name: Tamarindus indica)</h2>

  <p>  The name derives from Arabic romanized tamar hindi, "Indian date". Several early medieval herbalists and physicians wrote <i>tamar indi</i>, medieval Latin use was <i>tamarindus</i>, and Marco Polo wrote of <i>tamarandi</i>.  </p>

  <p>The tamarind tree produces pod-like fruit that contains an edible pulp used in cuisines around the world. Other uses of the pulp include traditional medicine and metal polish. The wood can be used for woodworking, and tamarind seed oil can be extracted from the seeds. Because of tamarind's many uses, it is cultivated around the world in tropical and subtropical zones.</p>

  <p>Today, India is the largest producer of tamarind. The consumption of tamarind is widespread due to its central role in the cuisines of the Indian subcontinent, Southeast Asia, and the Americas, especially Mexico.</p>

  <h3>Description </h3>
  <p>The tamarind is a long-lived, medium-growth tree, which attains a maximum crown height of 12 to 18 metres (39 to 59 ft). The crown has an irregular, vase-shaped outline of dense foliage. The tree grows well in full sun. It prefers clay, loam, sandy, and acidic soil types, with a high resistance to drought and aerosol salt (wind-borne salt as found in coastal areas).</p>

  <p>The evergreen leaves are alternately arranged and pinnately lobed. The leaflets are bright green, elliptic-ovular, pinnately veined, and less than 5 cm (2.0 in) in length. The branches droop from a single, central trunk as the tree matures, and are often pruned in agriculture to optimize tree density and ease of fruit harvest. At night, the leaflets close up.</p>

  <p>As a tropical species, it is frost sensitive. The pinnate leaves with opposite leaflets give a billowing effect in the wind. Tamarind timber consists of hard, dark red heartwood and softer, yellowish sapwood.</p>

  <p>The tamarind flowers (although inconspicuously), with red and yellow elongated flowers.</p>

  <p>The fruit has a fleshy, juicy, acidulous pulp. It is mature when the flesh is coloured brown or reddish brown. The tamarinds of Asia have longer pods (containing six to 12 seeds), whereas African and West Indian varieties have shorter pods (containing one to six seeds). The seeds are somewhat flattened, and a glossy brown. The fruit is best described as sweet and sour in taste, and is high in tartaric acid, sugar, B vitamins, and, unusually for a fruit, calcium.</p>

  <h3> Fruit</h3>
  <p>The fruit pulp is edible. The hard-green pulp of a young fruit is considered by many to be too sour but is often used as a component of savoury dishes, as a pickling agent or as a means of making certain poisonous yams in Ghana safe for human consumption.</p>

  <p>The ripened fruit is considered the more palatable, as it becomes sweeter and less sour (acidic) as it matures. It is used in desserts, as a jam, blended into juices, or sweetened drinks, sorbets, ice creams and other snacks. In Western cuisine, it is found in Worcestershire Sauce. In most parts of India, tamarind extract is used to flavour foods, in curries and traditional dishes, and tamarind sweet chutney is popular in India and Pakistan as a dressing for many snacks. Tamarind pulp is a key ingredient in flavouring curries and rice in south Indian cuisine, in the Chigali lollipop, and in certain varieties of Masala Chai tea. Across the Middle East, from the Levant to Iran, tamarind is used in savoury dishes, notably meat-based stews, and often combined with dried fruits to achieve a sweet-sour tang. In the Philippines, the whole fruit is used as an ingredient in the traditional dish called sinigang to add a unique sour taste, unlike that of dishes that use vinegar instead. </p>

  <h3>Tamarind seed oil </h3>
  <p> Tamarind seed oil is the oil made from the kernel of tamarind seeds. Isolation of the kernel without the thin but tough shell is difficult. Tamarind kernel powder is used as sizing material for textile and jute processing, and in the manufacture of industrial gums and adhesives. It is de-oiled to stabilize its colour and odour on storage.</p>

  <h3>Cultivation</h3>
  <p>Seeds can be scarified or briefly boiled to enhance germination. They retain their germination capability for several months if kept dry.</p>

  <p>The tamarind has long been naturalized in Indonesia, Malaysia, Sri Lanka, Philippines, the Caribbean, and the Pacific Islands. Thailand has the largest plantations of the ASEAN nations, followed by Indonesia, Myanmar and the Philippines. It is cultivated all over India, especially in Maharashtra, Chhattisgarh, Karnataka, Telangana, Andhra Pradesh, and Tamil Nadu. Extensive tamarind orchards in India produce 275,500 tons (250,000 MT) annually. </p>

  <p>In the United States, it is a large-scale crop introduced for commercial use, second in net production quantity only to India, mainly in the southern states, notably south Florida (due to tropical and semitropical climates), and as a shade tree, along roadsides, in dooryards and in parks.</p>

  <p>A traditional food plant in Africa, tamarind has the potential to improve nutrition, boost food security, foster rural development and support sustainable landcare. In Madagascar, its fruit and leaves are a well-known favourite of the ring-tailed lemur, providing as much as 50 percent of their food resources during the year if available. </p>

  <h3>Uses</h3>
  <h3>Folk medicine</h3>
  <p>Throughout Southeast Asia, the fruit of the tamarind is used as a poultice applied to foreheads of fever sufferers. The fruit exhibits laxative effects due to its high quantities of malic acid, tartaric acid, and potassium bitartrate. Its use for the relief of constipation has been documented throughout the world.</p>

  <h3>Woodworking</h3>
  <p>Tamarind lumber is used to make furniture, carvings, turned objects such as mortars and pestles, chopping blocks, and other small specialty wood items. Tamarind heartwood is reddish brown, sometimes with a purplish hue. The heartwood in tamarind tends to be narrow and is usually only present in older and larger trees. The pale-yellow sapwood is sharply demarcated from the heartwood. Heartwood is said to be durable to very durable in decay resistance and is also resistant to insects. Its sapwood is not durable and is prone to attack by insects and fungi. Due to its density and interlocked grain, tamarind is considered difficult to work. Heartwood has a pronounced blunting effect on cutting edges. </p>

  <h3>Metal polish</h3>
  <p> In homes and temples, especially in Buddhist Asian countries, the fruit pulp is used to polish brass shrine statues and lamps, and copper, brass, and bronze utensils. The copper alone or in brass reacts with moist carbon dioxide to gain a green coat of copper carbonate. Tamarind contains tartaric acid, a weak acid that can remove the coat of copper carbonate. Hence, tarnished copper utensils are cleaned with tamarind or lime, another acidic fruit. </p>

  <h3>Horticulture</h3>
  <p>Throughout south Asia and the tropical world, tamarind trees are used as ornamental, garden, and cash crop plantings. Commonly used as a bonsai species in many Asian countries, it is also grown as an indoor bonsai in temperate parts of the world. </p>

  <h3>Research</h3>
  <p>In hens, tamarind has been found to lower cholesterol in their serum, and in the yolks of the eggs they laid. Due to a lack of available human clinical trials, there is insufficient evidence to recommend tamarind for the treatment of hypercholesterolemia or diabetes. Different parts of tamarind <i>(T. indica) </i>are recognized for their various medicinal properties. A previous study reported that the seed, leaf, leaf veins, fruit pulp and skin extracts of tamarind possessed high phenolic content and antioxidant activities. The presence of lupanone and lupeol, catechin, epicatechin, quercetin and isorhamnetin in the leaf extract could have contributed towards the diverse range of the medicinal activities.</p>


</div>

<!-- pagination-->
<div class="pagination">
  <a href="/jamun">&laquo;</a>
  <a href="/banyan">1</a>
  <a href="/peepal" >2</a>
  <a href="/neem" >3</a>
  <a href="/eucalyptus">4</a>
  <a href="/jamun" >5</a>
  <a href="/tamarind"  class="active">6</a>
  <a href="/gulmohar">&raquo;</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>
