<div class="image">
  <img src="images/AshokaTree.jpg">
</div>

<div class="content">

  <h2>ASHOKA TREE (Scientific name:  Saraca asoca)</h2>

  <p>  The ashoka is a rain-forest tree. Its original distribution was in the central areas of the Deccan plateau, as well as the middle section of the Western Ghats in the western coastal zone of the Indian subcontinent. </p>

  <p> The ashoka is prized for its beautiful foliage and fragrant flowers. It is a handsome, small, erect evergreen tree, with deep green leaves growing in dense clusters.</p>

  <p>Its flowering season is around February to April. The ashoka flowers come in heavy, lush bunches. They are bright orange-yellow in color, turning red before wilting.</p>

  <p> Biologically, some of the flower's characteristics are very dry and abundant. This means that the flower is coated with a chemical on the outside.</p>

  <p>As a wild tree, the ashoka is a vulnerable species. It is becoming rarer in its natural habitat, but isolated wild ashoka trees are still to be found in the foothills of the central and eastern Himalayas, in scattered locations of the northern plains of India as well as on the west coast of the subcontinent near Mumbai. </p>

  <p> There are a few varieties of the ashoka tree. One variety is larger and highly spreading. The columnar varieties are common in cultivation.</p>

  <h3>How to recognise it? </h3>
  <p>Its leaves grow in dense clusters and are pointed from the top. The flowering season is February to April. The flowers grow in heavy bunches as well. They are bright yellow and orange in color.</p>

  <h3>Mythology</h3>
  <p>The ashoka tree is considered sacred throughout the Indian subcontinent, especially in India, Nepal and Sri Lanka. This tree has many folklorical, religious and literary associations in the region. Highly valued as well for its handsome appearance and the color and abundance of its flowers, the ashoka tree is often found in royal palace compounds and gardens as well as close to temples throughout India.  </p>

  <p> The ashoka tree is closely associated with the yakshi mythological beings. One of the recurring elements in Indian art, often found at gates of Buddhist and Hindu temples, is the sculpture of a yakshini with her foot on the trunk and her hands holding the branch of a flowering ashoka tree. As an artistic element, often the tree and the yakshi are subject to heavy stylization. Some authors hold that the young girl at the foot of this tree is based on an ancient tree deity related to fertility.</p>

  <p>Yakshis under the ashoka tree were also important in early Buddhist monuments as a decorative element and are found in many ancient Buddhist archaeological sites. With the passing of the centuries the yakshi under the ashoka tree became a standard decorative element of Hindu Indian sculpture and was integrated into Indian temple architecture as salabhanjika, because there is often a confusion between the ashoka tree and the sal tree (Shorea robusta) in the ancient literature of the Indian subcontinent. </p>

  <p>In Hinduism the ashoka is considered a sacred tree. Not counting a multitude of local traditions connected to it, the ashoka tree is worshipped in Chaitra, a month of the Hindu calendar. It is also associated with Kamadeva, the Hindu god of love, who included an ashoka blossom among the five flowers in his quiver, where ashoka represent seductive hypnosis. Hence, the ashoka tree is often mentioned in classical Indian religious and amorous poetry, having at least 16 different names in Sanskrit referring to the tree or its flowers. <br>
    In Mahakavya, or Indian epic poetry, the ashoka tree is mentioned in the Ramayana in reference to the Ashoka Vatika (garden of ashoka trees) where Hanuman first meets Sita.</p>

</div>

<div class="pagination">
  <a href="/sheesham">&laquo;</a>
  <a href="/gulmohar">7</a>
  <a href="/mango" >8</a>
  <a href="/lychee" >9</a>
  <a href="/shisham">10</a>
  <a href="/ashoka" class="active">11</a>
  <a href="/sal" >12</a>
  <a href="/sal">&raquo;</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>


