<div class="image">
  <img src="images/Shisham.jpg">
</div>

<div class="content">

  <h2>INDIAN ROSEWOOD / SHISHAM (Scientific Name: Dalbergia sissoo)</h2>

  <p>Indian Rosewood is a fast-growing, hardy deciduous rosewood tree native to the Indian Subcontinent and Southern Iran. D. Sissoo is a large, crooked tree with long, leathery leaves and whitish or pink flowers.</p>

  <h3> Description</h3>
  <p><i>D. sissoo</i> is a medium to large deciduous tree with a light crown which reproduces by seeds and suckers. It can grow up to a maximum of 25 m (82 ft) in height and 2 to 3 m (6 ft 7 in to 9 ft 10 in) in diameter, but is usually smaller. Trunks are often crooked when grown in the open. Leaves are leathery, alternate, pinnately compound and about 15 cm (5.9 in) long. Flowers are whitish to pink, fragrant, nearly sessile, up to 1.5 cm (0.59 in) long and in dense clusters 5-10 cm (2.0-3.9 in) in length. </p>

  <p>The fruit is brown and pod like in shape. The fruit is dry and hard. The sapwood is white to pale brown in colour and the heartwood is golden to dark brown in colour.</p>

  <h3>Cultivation methods </h3>
  <p>Indian Rosewood is mostly propagated through the root suckers and seeds. It requires fertile well drained soil. Seeds are soaked in water for 48 hours before sowing. Seeds are germinated in three weeks. Young Rosewood needs full sunlight. It requires dry to wet soil. Young plants are well watered until established. </p>

  <h3>Uses</h3>

  <h3>Timber</h3>
  <p>Shisham is the best known economic timber species of the rosewood genus sold internationally, but it is also used as fuel wood and for shade and shelter. After teak, it is the most important cultivated timber tree of Bihar, which is the largest producer of shisham timber in India. In Bihar, the tree is planted on roadsides, along canals and as a shade tree for tea plantations. It is also commonly planted in southern Indian cities like Bangalore as a street tree.</p>

  <p>Shisham is usually dried before being used in furniture manufacturing, a process commonly known as seasoning. Locally shisham is left in wide open areas to dry under the sun for about six months. Commercially, shisham is dried in closed chambers with hot air circulation for about seven to fifteen days, depending on weather conditions. The ideal moisture level is supposed to be 5-6% for thinner pieces and up to 11% for thicker ones, depending on use. Anything lower than this can cause sudden cracking of the final products.</p>

  <p>Sheesham is among the finest cabinet and veneer timbers. It is the wood from which 'mridanga', the Rajasthani percussion instrument, is often made. In addition to musical instruments, it is used for plywood, agricultural tools, flooring, and as a bentwood, and for turning.<br>
    The heartwood is golden to dark brown; the sapwood is white to pale brownish white. The heartwood is durable (the specific gravity is 0.7 - 0.8) and is very resistant to fungi; but the sapwood is readily attacked by dry-wood termites and borers. Dalbergia sissoo is known to contain the neoflavonoid dalbergichromene in its stem-bark and heartwood.</p>

  <h3>Fuel wood</h3>
  <p>The calorific value of both the sapwood and heartwood is 'excellent', being reported to be 4,908 kcal/kg and 5,181 kcal/kg respectively. As a fuel wood it is grown on a 10 to 15-year rotation. The tree has excellent coppicing ability, although a loss of vigor after two or three rotations has been reported. Shisham wood makes excellent charcoal for heating and cooking.</p>

  <h3>Pesticide</h3>
  <p>Ethanolic extract of the fruits of Dalbergia sissoo exhibited molluscicide effect against eggs of the freshwater snail <i>Biomphalaria pfeifferi.</i></p>

  <h3> Construction</h3>
  <p>The juice of this plant is a potent ingredient for a mixture of wall plaster, according to the Samarangana Sutradhara, which is a Sanskrit treatise dealing with Silpasastra (Hindu science of art and construction).  </p>

  <h3>Medicinal uses</h3>
  <p>Indian Rosewood holds many medicinal properties as per Ayurveda. Rosewood oil stimulates new cell growth, regenerate tissues, and heps minimize lines and wrinkles. It helps balance both dry and oily skin. It can prove useful against acne. </p>


  <h3>Cultural importance</h3>
  <p>Many people grow Rosewood because they believe harvesting the wood denudes the rain forests.</p>

</div>

<!-- pagination-->
<div class="pagination">
  <a href="/lychee">&laquo;</a>
  <a href="/gulmohar">7</a>
  <a href="/mango" >8</a>
  <a href="/lychee">9</a>
  <a href="/sheesham"  class="active">10</a>
  <a href="/ashoka" >11</a>
  <a href="/sal" >12</a>
  <a href="/ashoka">&raquo;</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>
