body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}



.container{
  background-color: #bbb;
  overflow: hidden;
}

.wrapper{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 20px;
  margin-left:30px;
  margin-top: 20px;
  height: 100%; /* Should be removed. Only for demonstration */
  border: 1px solid #ff6666;
  text-align: center;
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}


.column a{
  text-decoration: none;
  color:black;
}



div.column:hover {
  border: 2px solid #4d0000;
}

.button {
  background-color: #990000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}

.cart-heading{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border:1px solid #990000;
  margin-top: 5%;
  padding-left: 30px;
  background-color: #ffe6e6;
}
.product-image{
  height: 150px;
}


@media only screen and (max-width: 600px) {

  .column{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    padding: 5px;
  }

  .cart-heading{
    width: 98%;
    padding-left:10px;
    font-size:15px;
  }
  .row{
    width: 95%;
  }
  .product-image{
    height: 100px;
  }
  .column h4{
    margin: 10px;
  }

  .button {
    padding: 8px 15px;
    font-size: 12px;
  }

}


@media only screen and (max-width: 900px) {

  .column{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    padding: 5px;
  }

  .cart-heading{
    width: 98%;
    padding-left:10px;
    font-size:15px;
  }
  .row{
    width: 95%;
  }
  .product-image{
    height: 100px;
  }
  .column h4{
    margin: 10px;
  }

  .button {
    padding: 8px 15px;
    font-size: 12px;
  }

}
