body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}

.container{
  background-color: white;
  overflow: hidden;
  min-height: 100vh;
}

.wrapper{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 15px;
  margin-left:30px;
  margin-top: 5%;
  height: 100%; /* Should be removed. Only for demonstration */
  border:1px  solid white;
  text-align: center;
  background-color: white;
  border-radius: 3px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}


.column a{
  text-decoration: none;
  color:#262626;
  cursor: pointer;
}
.column .product-name:hover{
  color: black;
}


div.column:hover {
  border: 1px solid #8c8c8c;
}

.button {
  background-color: #343a40;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover{
 background-color: #4d0000;
}

.cart-heading{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  /*border:1px #8c8c8c solid; */
  margin-top: 5%;
  padding-left: 30px;
 /* background-color: #f5f5f5; */
  color:black;
  border-radius: 5px;
  text-align: center;
}
.product-image{
  height: 240px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-image:hover {
    transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.product-image-box{
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.product-image-box p{
  color: #262626;
  margin-top: 0;
  }
@media only screen and (max-width: 600px) {

  .column{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    padding: 5px;
  }

  .cart-heading{
    width: 98%;
    padding-left:10px;
    font-size:15px;
  }
  .row{
    width: 95%;
  }
  .product-image{
    height: 100px;

  }
  .column h3{
    margin: 10px;
    font-size: 17px;
  }

  .button {
    padding: 8px 15px;
    font-size: 12px;
  }

}


@media only screen and (max-width: 900px) {

  .column{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    padding: 5px;
  }

  .cart-heading{
    width: 98%;
    padding-left:10px;
    font-size:15px;
  }
  .row{
    width: 95%;
  }
  .product-image{
    height:150px;
    width: auto;
  }
  .column h4{
    margin: 10px;
  }

  .button {
    padding: 8px 15px;
    font-size: 12px;
  }

}










body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 20px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.productImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;

}



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px) {

  .productImage{
    max-width: 90%;
    height: auto;

  }


}

@media only screen and (max-width: 900px) {

  .productImage{
    max-width: 90%;
    height: auto;

  }


}
