<div class="container">
  <div class="wrapper">

   <div class="cart-heading">
      <h1 style="color:#003300; font-size: 1.7em; font-family: cursive;">Welcome to the exclusive store! </h1>
    </div>

    <div class="row">
      <div class="column" *ngFor="let product of productList">
        

        <a>
          <div class="product-image-box" [ngStyle]="{'opacity':product.availability === false ? 0.5 : 1 }">
            <div class="block">
            <img  class="product-image"   src={{product.img}} (click)="enlarge(product.img)">
            <div class="text" [ngStyle]="{'display':product.availability === false ? 'block' : 'none' }">
              <h3 > Sold Out </h3>
            </div>
          </div>
          </div>
            <h3 class="product-name">{{product.name}}</h3>
          <p>Artist: {{product.artist}}</p>
          <p>{{product.size}}, &nbsp; {{product.medium}}</p>
          <p>{{product.description}}</p>
          <span style="font-weight: bold;">&#8377;  </span>{{product.price | number}} <br> <br>
            <!--<span style="cursor: text;"> &#8377; {{product.price | number}}</span> <br>-->
            <!--<p>{{product.description}}</p>-->
            <button class="button" (click)="addToCart(product)" *ngIf="product.availability == true"><i class="fa fa-shopping-cart fa-lg"></i> &nbsp; &nbsp; Add to cart</button>
        </a>
      </div>
    </div>

  </div>

</div><!--container ends-->

<div id="myModal" class="modal" onclick="document.getElementById('myModal').style.display='none'" >
  <span class="close" onclick="document.getElementById('myModal').style.display='none'" style="width:auto;cursor: pointer;">&times;</span>
  <img class="modal-content" id="img01">
  <img  id="enlarge" src="" alt="Snow" class="productImage" >
  <!--<div id="caption">Tender Beauty</div>-->
</div>



<!--sold out template -->
<!--<div class="block">
  <div class="thumbnail">
      <img src="https://s3.ap-south-1.amazonaws.com/ostinohealth/ecommerce/Arts/Tender+Beauty.jpg" class="image">
      <div class="text">
          <h3> Sold Out </h3>
      </div>
</div>
</div>-->
