
.wrapper{
  height: 100%;
  background-color: #bbb;
  margin: 0;
}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 45%;
  padding: 10px 20px;
  padding-right: 40px;
  height: 100%; /* Should be removed. Only for demonstration */
}
.column2 {
  float: left;
  width: 50%;
  padding: 10px 0;
  padding-right: 40px;
  height: 100%; /* Should be removed. Only for demonstration */
}
.column1 h1{
  padding-top: 10px;
  font-size: 40px;
  font-weight: lighter;
  padding-left: 40px;
}
.column1 h3{
  font-size: 25px;
  font-weight: lighter;
  padding-left: 40px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  height: 100%;
  background-color: #bbb;
}

.container{
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  border: 1px solid #8c8c8c;
  overflow: auto;
  background-color: white;
  padding: 0px 30px 0px 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom:160px;
  border-radius: 5px;
}

label{
  font-size: 20px;
}

button :disabled {
  cursor: not-allowed;
  background-color: #00B7FF;
}

input[type=text], input[type=password],input[type=email]{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #8c8c8c;
  border-radius: 5px;
  background: #f1f1f1;
}
input[type=tel] {
  width: 79%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 5px 0 0 0;
  display: inline-block;
  border: 1px solid #8c8c8c;
  border-radius: 5px;
  background: #f1f1f1;
}


.code{
  width:20%;
  border: 1px solid #8c8c8c;
  padding:15px;
  border-radius: 5px;
  background: #f1f1f1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

p{
  margin-top: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 2px;
}
::-moz-placeholder { /* Firefox 19+ */
  padding-left: 2px;
}
:-ms-input-placeholder { /* IE 10+ */
  padding-left: 2px;
}
:-moz-placeholder { /* Firefox 18- */
  padding-left: 2px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus ,input[type=tel]:focus,.country-code{
  background-color: #ddd;
  outline: none;
}
form .create-account {
  background-color:#b30000;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
  border-radius: 5px;
}

form .create-account:hover {
  opacity:3;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }

  .column2 {
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .column1 h1{
    padding-top:0px;
    font-size: 20px;
    font-weight: lighter;
  }

  .column1 h3{
    padding-top:0px;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 0;
  }

  .container{
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    padding: 0px 10px 0px 10px;
    margin-bottom:30px;
  }

  label,p{
    font-size: 15px;
  }
  h1{
    font-size: 20px;
  }

  input[type=text],input[type=password],input[type=email] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px 0 22px 0;
  }
  ::placeholder {
    padding-left: 5px;
  }

  form .create-account {
    width: 100%;
    font-size: 15px;
  }

  .code{
    width:23%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 0;
  }
  input[type=tel]{
    width: 75%;
    padding-top: 10px;
  }

}

@media screen and (max-width: 900px) {
  .column1 {
    width: 100%;
  }

  .column2 {
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .column1 h1{
    padding-top:0px;
    font-size: 20px;
    font-weight: lighter;
    padding-left: 0;
  }

  .column1 h3{
    padding-top:0px;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 0;
    padding-left: 0;
  }

  .container{
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    padding: 0px 10px 0px 10px;
    margin-bottom:30px;
  }

  label,p{
    font-size: 15px;
  }
  h1{
    font-size: 20px;
  }

  input[type=text],input[type=password],input[type=email] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px 0 22px 0;
  }

  ::placeholder {
    padding-left: 5px;
  }
  form .create-account {
    width: 100%;
    font-size: 15px;
  }

  .code{
    width:23%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 0;
  }
  input[type=tel]{
    width: 75%;
    padding-top: 10px;
  }
}
