<div class="image">
  <img src="images/Gulmohar.jpg">
</div>

<div class="content">

  <h2>GULMOHAR TREE (Scientific name: Delonix Regia)</h2>

  <p> Gulmohar is most famous for its pretty looking flowers. In India, its flowering season is between April and June. Spotting this Indian tree is quite easy as it grows in dry as well as tropical conditions. This shade giving tree expands and offers a dense canopy. The flowers of this tree are large and orange-red in colour.  It is also one of several trees known as "flame tree".</p>

  <p>In many tropical parts of the world it is grown as an ornamental tree and in English it is given the name royal poinciana or flamboyant.</p>

  <p>It is a popular street tree in the suburbs of Brisbane, Australia. The tree is also found in India, where it is referred to as the May-flower tree, Gulmohar or Gul Mohr. In West Bengal (India), Odisha (India), and Bangladesh it is called Krishnachura.</p>

  <p>The town of Penuelas, Puerto Rico, is nicknamed "El Valle de los Flamboyanes" ("The Valley of the Poinciana Trees"), as many flamboyant trees are found along the surrounding Rio Guayanes, Rio Macana, and Rio Tallaboa Rivers.</p>

  <p>In Vietnam, this tree is called "Phuong vy", or phoenix's tail, and is a popular urban tree in much of Vietnam. Its flowering season is May-July, which coincides with the end of the school year in Vietnam. Because of this timing, the flower of poinciana is sometimes called the "flower of pupil". Hai Phong city is nicknamed <i>"Thanh pho hoa phuong do"</i> ("City of red poinciana")</p>

  <h3>Cultivation </h3>
  <p>The royal poinciana requires a tropical or near-tropical climate but can tolerate drought and salty conditions. It prefers an open, free-draining sandy or loamy soil enriched with organic matter. The tree does not like heavy or clay soils and flowers more profusely when kept slightly dry.</p>

  <p>In addition to its ornamental value, it is also a useful shade tree in tropical conditions because it usually grows to a modest height (mostly 5 meters, but it can reach a maximum height of 12 meters) but spreads widely, and its dense foliage provides full shade. In areas with a marked dry season, it sheds its leaves during the drought, but in other areas it is virtually evergreen.</p>

  <h3> Propagation</h3>
  <p>The royal poinciana is most commonly propagated by seeds. Seeds are collected, soaked in warm water for at least 24 hours, and planted in warm, moist soil in a semi-shaded, sheltered position. In lieu of soaking, the seeds can also be 'nicked' or 'pinched' (with a small scissors or nail clipper) and planted immediately. These two methods allow moisture to penetrate the tough outer casing, stimulating germination. The seedlings grow rapidly and can reach 30 cm in a few weeks under ideal conditions.</p>

  <p> Less common, but just as effective, is propagation by semi-hardwood cuttings. Branches consisting of the current or last season's growth can be cut into 30 cm sections and planted in a moist potting mixture. This method is slower than seed propagation (cuttings take a few months to root) but is the preferred method for ensuring new trees are true to form. As such, cuttings are a particularly common method of propagation for the rarer yellow-flowering variety of the tree.</p>

  <h3>Cultural Significance</h3>
  <p>In the Indian state of Kerala, royal poinciana is called <i>kaalvarippoo</i> which means the flower of Calvary. There is a popular belief among Saint Thomas Christians of Kerala that when Jesus was crucified, there was a small royal poinciana tree nearby his Cross. It is believed that the blood of Jesus Christ was shed over the flowers of the tree and this is how the flowers of royal poinciana got a sharp red color. It is also known as Vaaga in many areas of Kerala.</p>

  <p>It is also the national flower of St. Kitts and Nevis. </p>

  <p>The song Poinciana was inspired by the presence of this tree in Cuba.</p>




</div>

<div class="pagination">
  <a href="/tamarind">&laquo;</a>
  <a href="/gulmohar" class="active">7</a>
  <a href="/mango" >8</a>
  <a href="/lychee" >9</a>
  <a href="/sheesham">10</a>
  <a href="/ashoka">11</a>
  <a href="/sal" >12</a>
  <a href="/mango">&raquo;</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>


