
<div class="wrapper">



  <div class="row">
    <div class="column1" style="background-color:#bbb;">

      <h1>Register</h1>

      <h3>We do not share your personal details with anyone</h3>

    </div>


    <div class="column2" style="background-color:#bbb;">
      <form [formGroup]="SignupForm" (ngSubmit)="register()" novalidate >

        <div class="container">

          <h1> Create account </h1>

          <label for="name"><b> Your Name</b></label>
          <input type="text" name="name" placeholder="Enter your fullname" formControlName="name">
          <p *ngIf="SignupForm.controls.name.invalid && !SignupForm.controls.name.pristine" class="error"> Enter your name</p>

          <label for="email"><b>Email (Login Id)</b></label>
          <input type="email" name="email" placeholder="Enter your email" formControlName="email">
          <p *ngIf="SignupForm.controls.email.invalid && !SignupForm.controls.email.pristine" class="error">Enter valid email id</p>

          <label for="mobile-number"><b>Mobile Number </b></label><br>
          <!-- country codes (ISO 3166) and Dial codes. -->
          <label for="country"></label>
          <select id="country" class="code"  name="country">
            <option value="india">India +91</option>
          </select>
          <input type="tel" name="mobile-number" placeholder="Enter your mobile number" formControlName="contact">
          <p>Optional but recommended as backup</p>

          <label for="password"><b>Password</b></label>
          <input type="password" name="password" placeholder="At least 6 characters." formControlName="password">
          <p *ngIf="SignupForm.controls.password.invalid && !SignupForm.controls.password.pristine"
             class="error">Password should be of minimum 6 characters in length and must contain at least 1 uppercase & 1 numeral</p>

          <label for="re-enter-password"><b>Re-enter Password</b></label>
          <input type="password" name="re-enter-password" placeholder="Confirm password" formControlName="confirmpassword">
          <p *ngIf="SignupForm.controls.confirmpassword.invalid && !SignupForm.controls.confirmpassword.pristine" class="error">Password do not match</p>

          <button type="submit" class="create-account" [disabled]="!SignupForm.valid">Create your account</button>

          <p>By creating an account you agree to our <a href="" style="color:dodgerblue">Terms & Conditions</a>.</p>
          <hr>
          <p> Already have an account?<a href="/login" style="color:dodgerblue">Sign in </a></p>


        </div>

      </form>
    </div>
  </div>



</div>
