/*

.heading{
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 25px;
}

.button{
  background-color: #4040bf;
  color: white;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  font-size: 18px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color:#8c8cd9 ;
  color: white;
}


* {
  box-sizing: border-box;

}

!* Create three equal columns that floats next to each other *!
.column{
  margin:35px;
  float: left;
  width: 27.33%;
  text-align: left;
  height: inherit; !* Should be removed. Only for demonstration *!
}

!* Clear floats after the columns *!
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  background-color: #ebebe0;
  height: 100%;
}

.row h1{
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
}

.column{
  padding-left: 20px;
}

.column p{
  font-size: 20px;
}


!* icons *!

!* Clear floats after the columns *!
.column2 {
  float: left;
  width: 25%;
  padding: 15px;
  height: 170px; !* Should be removed. Only for demonstration *!
  text-align: center;
}

!* Clear floats after the columns *!
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.row2{
  margin-left: 30px;
  margin-right: 30px;
}

i.fa {
  border: 4px solid;
  display: inline-block;
  border-radius: 100px;
  padding: 0.4em 0.6em;
  font-size: 40px;
}


!* bottom menu *!
.row3:after {
  content: "";
  display: table;
  clear: both;
}

.row3{
  height:100%;
  background-color: #001a33;
  color: white;
}

.column3 {
  float: left;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 60px;
  height:100%; !* Should be removed. Only for demonstration *!
}

.column3 ul{
  list-style:none;
}
.column3 ul li a{
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.column3 h2{
  text-decoration: underline;
  text-align:left;
  padding-left: 40px;
}







@media screen and (max-width: 600px) {
  .button1{
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    float: none;
    display: block;
    margin-top: 10px;
  }
  .btn-group {
    float: none;
  }
}

@media screen and (max-width: 600px) {
  .heading{
    padding: 0px;
  }
  .heading h1{
    font-size: 30px;
  }
  .heading p{
    font-size: 20px;
  }

  .button{
    padding: 10px 7px 10px 7px;
    border-radius: 30px;
    font-size: 12px;
    float: none;
    cursor: pointer;
    font-weight: bold;
    margin:auto;
    display:block;
    margin-top: 10px;
  }

  .row h1{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .column{
    margin:0;
    padding-left:10px;
    padding-right:10px;
    width:100%;
  }
  .img{
    padding-top: 10px;
    width: 100%;
    height:auto;
  }

  .column h2{
    font-size: auto;
    margin: 0;
  }
  .column p{
    padding: 0;
    margin: 0;
    font-size: 18px;
  }


  .row2{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }
  .column2 {
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    width: 50%;
  }
  i.fa {
    font-size: 30px;
  }

  .row3{
    display: none;
  }
}



@media screen and (max-width: 900px) {

}


@media screen and (max-width: 900px) {
  .heading {
    padding-top: 0px;
  }
  .btn-group{
    float: none;
  }

  .button1{
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    float: none;
    display: block;
    margin-top: 10px;
  }

  .heading h1 {
    font-size: 30px;
  }

  .heading p {
    font-size: 20px;
  }

  .button {
    padding: 10px 7px 10px 7px;
    border-radius: 30px;
    font-size: 12px;
    float: none;
    cursor: pointer;
    font-weight: bold;
    margin: auto;
    display: block;
    margin-top: 10px;
  }

  .row h1 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
  }

  .column {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  .img {
    padding-top: 10px;
    width: 100%;
    height: auto;
  }

  .column h2 {
    font-size: auto;
    margin: 0;
  }

  .column p {
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 18px;
  }

  .row2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }

  .column2 {
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    width: 50%;
  }

  i.fa {
    font-size: 35px;
  }

  .row3 {
    display: none;
  }
}

.btn-group{
  float: right;
}

.button1 {
  background-color: #7a1f1f;
  -webkit-border-radius: 10px;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-right: 80px;
  margin-top: 20px;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

@-moz-keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

@-o-keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

@keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}
*/

body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}


.topnav {
  width:100%;
  overflow: hidden;
  background-color: #f2f2f2;
  border-bottom: 4px solid #800000;
  padding-top: 0;
  margin: 0;
  top:0;
}

.topnav_right{
  float:right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #511515;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: black;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown:hover .dropbtn {
  background-color:#800000;
  color: white;
  height: 63px;
}

.dropdown-content a:hover {
  background-color: #800000;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.heading{
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 25px;
}

.button{
  background-color: #4040bf;
  color: white;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  font-size: 18px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color:#8c8cd9 ;
  color: white;
}


* {
  box-sizing: border-box;

}

/* Create three equal columns that floats next to each other */
.column{
  margin:35px;
  float: left;
  width: 27.33%;
  text-align: left;
  height: inherit; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  background-color: #ebebe0;
  height: 100%;
}

.row h1{
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
}

.column{
  padding-left: 20px;
}

.column p{
  font-size: 20px;
}


/* icons */

/* Clear floats after the columns */
.column2 {
  float: left;
  width: 25%;
  padding: 15px;
  height: 170px; /* Should be removed. Only for demonstration */
  text-align: center;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.row2{
  margin-left: 30px;
  margin-right: 30px;
}

i.fa {
  border: 4px solid;
  display: inline-block;
  border-radius: 100px;
  padding: 0.4em 0.6em;
  font-size: 40px;
}


/* bottom menu */
.row3:after {
  content: "";
  display: table;
  clear: both;
}

.row3{
  height:100%;
  background-color: #001a33;
  color: white;
}

.column3 {
  float: left;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 60px;
  height:100%; /* Should be removed. Only for demonstration */
}

.column3 ul{
  list-style:none;
}
.column3 ul li a{
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.column3 h2{
  text-decoration: underline;
  text-align:left;
  padding-left: 40px;
}

/* footer */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #800000;
  color: white;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.footer p,a{
  color:white;
  text-decoration: none;
}
.footer_column{
  width: 49%;
  float: left;
  display:inline;}

.footer_row:after {
  content: "";
  display: table;
  clear: both;
}


.btn-group{
  float: right;
}
.button2{
  background-color: #004A7F;
  color: white;
  padding: 15px 10px;
  border-radius: 30px;
  font-size: 18px;
  margin-top: 20px;

  cursor: pointer;
  font-weight: bold;
  border: none;
}
.button2:hover {
  background-color: #4040bf;
  color: white;
}
.button1 {
  background-color: #7a1f1f;
  -webkit-border-radius: 10px;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-right: 80px;
  margin-top: 20px;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

@-moz-keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

@-o-keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

@keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}





@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav_right{
    float:none;
  }

  .heading{
    padding: 0px;
  }
  .heading h1{
    font-size: 30px;
  }
  .heading p{
    font-size: 20px;
  }

  .button{
    padding: 10px 7px 10px 7px;
    border-radius: 30px;
    font-size: 12px;
    float: none;
    cursor: pointer;
    font-weight: bold;
    margin:auto;
    display:block;
    margin-top: 10px;
  }


  .btn-group{
    float: none;
  }
  .button2{
    padding: 10px 7px 10px 7px;
    border-radius: 30px;
    font-size: 12px;
    float: none;
    display:block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .button1{
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    float: none;
    display: block;
    margin-top: 10px;
  }




  .row h1{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .column{
    margin:0;
    padding-left:10px;
    padding-right:10px;
    width:100%;
  }
  .img{
    padding-top: 10px;
    width: 100%;
    height:auto;
  }

  .column h2{
    font-size: auto;
    margin: 0;
  }
  .column p{
    padding: 0;
    margin: 0;
    font-size: 18px;
  }


  .row2{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }
  .column2 {
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    width: 50%;
  }
  i.fa {
    font-size: 30px;
  }

  .row3{
    display: none;
  }

  .footer{
    position: static;
    overflow: hidden;
    line-height: 30px;
    padding-bottom: 0px;
    height: 80px;
  }
  .footer_column{
    font-size: 13px;
    width: 100%;
  }


}



@media screen and (max-width: 900px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav_right{
    float:none;
  }

  .heading{
    padding-top: 0px;
  }
  .heading h1{
    font-size: 30px;
  }
  .heading p{
    font-size: 20px;
  }

  .button{
    padding: 10px 7px 10px 7px;
    border-radius: 30px;
    font-size: 12px;
    float: none;
    cursor: pointer;
    font-weight: bold;
    margin:auto;
    display:block;
    margin-top: 10px;
  }

  .btn-group{
    float: none;
  }
  .button2{
    padding: 10px 7px 10px 7px;
    border-radius: 30px;
    font-size: 12px;
    float: none;
    display:block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .button1{
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    float: none;
    display: block;
    margin-top: 10px;
  }

  .row h1{
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .column{
    margin:0;
    padding-left:10px;
    padding-right:10px;
    width:100%;
  }
  .img{
    padding-top: 10px;
    width: 100%;
    height:auto;
  }
  .column h2{
    font-size: auto;
    margin: 0;
  }
  .column p{
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 18px;
  }


  .row2{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }
  .column2 {
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    width: 50%;
  }
  i.fa {
    font-size: 35px;
  }

  .row3{
    display: none;
  }

  .footer{
    position: static;
    overflow: hidden;
    line-height: 30px;
    padding-top: 10px;
    height: 80px;
  }
  .footer_column{
    font-size: 13px;
    width: 100%;
  }


}

