body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}

.heading{
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 25px;
}

* {
    box-sizing: border-box;

}

/* Create three equal columns that floats next to each other */
.column{    
    float: left;  
    width: 33.3%;
    height: inherit;
    text-align: center;
    padding-top: 30px;
}

/* Clear floats after the columns */
.row:after {     
    content: "";
    display: table;
    clear: both;
}

.row{
   background-color: #ebebe0;
   height: 100%;
}

.row h1{
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
}

.column p{
  font-size: 20px;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}
.column h2{ 
  text-align: left;
   padding-left: 10%;
  padding-right: 10%;
}


/* icons */

/* Clear floats after the columns */
.column2 {
    float: left;
    width: 25%;
    padding: 15px;
    height: 170px; /* Should be removed. Only for demonstration */
    text-align: center;
}

/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}
.row2{
  margin-left: 30px;
  margin-right: 30px;
}

/*i.fa {
  border: 4px solid;
  display: inline-block;
  border-radius: 50%;
  padding: 0.4em 0.6em;
  font-size: 40px;
} */
i.fa-certificate {
  border: 4px solid;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em 0.6em;
  font-size: 38px;
}
i.fa-list-alt {
  border: 4px solid;
  display: inline-block;
  border-radius: 50%;
  padding: 0.6em;
  font-size: 38px;
}
i.fa-user {
  border: 4px solid;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em 0.7em;
  font-size: 40px;
}
i.fa-file-text{
   border: 4px solid;
  display: inline-block;
  border-radius: 50%;
  padding: 0.6em  0.7em;
  font-size: 38px;
}
i.fa-pie-chart{
  border: 4px solid;
  display: inline-block;
  border-radius: 50%;
  padding: 0.6em 0.6em;
  font-size: 36px;
}
i.fa-info-circle{
  border: 4px solid;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em 0.6em;
  font-size: 38px;
}
i.fa-lock{
  border: 4px solid;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em 0.7em;
  font-size: 40px;
}
i.fa-user-md{
  border: 4px solid;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em 0.6em;
  font-size: 40px;
}






/* bottom menu */
.row3:after {
    content: "";
    display: table;
    clear: both;
}

.row3{
  height:100%;
  background-color: #001a33;
  color: white;
}

.column3 {
    float: left;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 60px;
    height:100%; /* Should be removed. Only for demonstration */
}

.column3 ul{
list-style:none;
}
.column3 ul li a{
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.column3 h2{
  text-decoration: underline;
  text-align:left;
  padding-left: 40px;
}



.btn-column {
    float: left;
    width: 25%;
    padding-top: 20px;
    text-align: center;
}
/*
.btn-column-glow{
   float: left;
    width: 25%;
    padding:20px 15px;
    text-align: center;
}
.btn-column-govt{
   float: left;
    width: 25%;
     padding-top: 20px;
    padding-left:46px;
}
.btn-column-blog{
   float: left;
    width: 25%;
    padding-top: 20px;
    padding-left: 48px;
    text-align: center;
}
.btn-column-fortune{
   float: left;
    width: 25%;
    padding-top: 20px;
    padding-left: 30px;
    text-align: center;
}  */
/* Clear floats after the columns */
.btn-row:after {
    content: "";
    display: table;
    clear: both;
}

.btn-glow{
   background-color: #7a1f1f;
  -webkit-border-radius: 10px;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  text-decoration: none; 
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;

    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
@-webkit-keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

@-moz-keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

@-o-keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

@keyframes glowing {
  0% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
  50% { background-color: #b62f2f; box-shadow: 0 0 20px #b62f2f; }
  100% { background-color: #7a1f1f; box-shadow: 0 0 3px #7a1f1f; }
}

.btn-fortune{
   background-color: #4040bf;
  -webkit-border-radius: 10px;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-decoration: none; 

    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.btn-fortune:hover {
  background-color: #004A7F;
  color: white;
}
.btn-govt{
   background-color: #7a1f1f;
  -webkit-border-radius: 10px;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  text-decoration: none; 

    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.btn-govt:hover {
  background-color: #511515;
  color: white;
}
.btn-blog{
   background-color: #006699;
  -webkit-border-radius: 10px;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  text-decoration: none; 

    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.btn-blog:hover {
  background-color: #004466;
  color: white;
}







@media screen and (max-width: 600px) {
 
.heading{
  padding: 0px;
}
.heading h1{
  font-size: 30px;
}
.heading p{
  font-size: 20px;
}

.btn-column{
  width: 100%;
}
.btn-glow{
   width: 80%;
  font-size: 13px;
  padding: 10px;
}
.btn-fortune{
  width: 80%;
   font-size: 13px;
  padding: 10px;
}
.btn-govt{
   width: 80%;
    font-size: 13px;
  padding: 10px;
}
.btn-blog{
   width: 80%;
   font-size: 13px;
  padding: 10px 40px;
}



.row h1{
  font-size: 30px;
  padding-top: 10px;
   margin-bottom: 0px;
}
.column{
  margin:0;
  padding-left:10px;
  padding-right:10px;
  width:100%;
}
 .img{
  padding-top: 10px;
  width: 100%;
  height:auto;
}

.column h2{
  font-size: auto;
  margin: 0;
   padding-left: 0;
}
.column p{
  padding: 0;
  margin: 0;
  font-size: 18px;
}


.row2{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}
.column2 {
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 15px;
  width: 50%;
    }
i.fa {
  font-size: 30px;
}

.row3{
  display: none;
}


}



 

@media screen and (max-width: 900px) {
 
.heading{
  padding: 0px;
}
.heading h1{
  font-size: 30px;
}
.heading p{
  font-size: 20px;
}

.btn-column{
  width: 100%;
}
.btn-glow{
   width: 80%;
  font-size: 13px;
  padding: 10px;
}
.btn-fortune{
  width: 80%;
   font-size: 13px;
  padding: 10px;
}
.btn-govt{
   width: 80%;
    font-size: 13px;
  padding: 10px;
}
.btn-blog{
   width: 80%;
   font-size: 13px;
  padding: 10px 40px;
}

.row h1{
  font-size: 30px;
  padding-top: 10px;
   margin-bottom: 0px;
}
.column{
  margin:0;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
  padding-top: 0px;
  width:100%;
}
 .img{
  padding-top: 10px;
  width: 100%;
  height:auto;
}

.column h2{
  font-size: auto;
  margin: 0;
  padding-left: 0;
}
.column p{
  padding: 0;
  margin: 0;
  font-size: 18px;
}


.row2{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}
.column2 {
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 15px;
  width: 50%;
    }
i.fa {
  font-size: 30px;
}

.row3{
  display: none;
}



}



