<!-- subscribe -->
<div class="subscribe">
  <a href="/subscribe">
<button class="subscribe-btn">Subscribe</button></a>
<!--  <b>Subscribe</b>  -->
</div>
<!--subscribe ends -->

<!--<div class="btn-row">
  <div class="btn-column btn-column-glow" >
    <button class="btn-glow" onclick="window.location.href='consumers'">Herbal Products & Medicinal Plants <br>Buy Now</button>
  </div>
  <div class="btn-column btn-column-govt">
    <button class="btn-govt" onclick="window.location.href='government'">Government & Tech Consulting</button>
  </div>
  <div class="btn-column btn-column-blog">
    <a href="https://surajit-b.com/" target="_blank"><button class="btn-blog">Health & Tech Blog</button></a>
  </div>
  <div class="btn-column btn-column-fortune">
    <button class="btn-fortune"  onclick="window.location.href='fortune'">YOUR FORTUNE COOKIE</button>
  </div>
</div>-->
<div class="heading">
  <h1> Pioneering first of its kind intelligent cloud-based practice management platform</h1>
  <p> We call this Clinical Transformation. Join the platform and avail your Virtual Assistant.</p>
</div>


<!---content starts-->

<div class="row">

  <h1> Digital Health Applied </h1>

  <div class="column">
    <img src="images/2.jpg" class="img" width="370px" height="200px">
    <h2>Healthcare is now and here</h2>
    <p><strong> Automate in a hassle free manner entire practice management; </strong>  be it individual clinic, nursing home, hospital or a combination of three.</p>
    <p><strong> Mapping of administrative work</strong> to your assistant / secretary so that  you can focus on what you do best. </p>

    <p><strong>  World class security</strong> through  state of the art data center, encryption algorithms,  tagging patients through unique identifiers and  access controls.</p>

    <p><strong> Simple platform</strong> for everyday everywhere usage at your fingertips through less clutter.</p>
  </div>

  <div class="column">
    <img src="images/1.jpg" class="img" width="370px" height="200px">
    <h2>Healthcare is personal</h2>
    <p> <strong>Mapping of patient-clinic touchpoints</strong> for optimization and enhance in-clinic experience.</p>

    <p> <strong>Patient History </strong> at your fingertips; no need to spend precious time querying medical history in each visit. </p>

    <p> <strong>Monitor adherence to medication </strong>post patient visit or discharge through seperate mobile application for patients only. </p>

    <p> <strong>Spend more time with patients </strong> let the platform do the hard work.</p>
  </div>

  <div class="column">
    <img src="images/3.jpg" class="img" width="370px" height="200px">
    <h2>Healthcare is innovating solutions</h2>
    <p> <strong> Map pharmacy or formulary approved drugs</strong> as part of electronic prescription through drop-downs to reduce leakage.</p>

    <p> <strong>Start your day  </strong> with alert on scheduled consulations and end your day with summary of patient consulations alert.</p>

    <p> <strong>Digitize physical prescription formats </strong> through Optical character Recognition (OCR) technologies integrated with your database account.</p>

    <p> <strong>Insights based on analytics </strong> More you use, more the algorithm understands you; the more relevant they become to your practice.</p>
  </div>
</div>

<!---content ends-->


<!--icons-->
<div class="row2">
  <div class="column2">
    <i class="fa fa-certificate" aria-hidden="true" ></i>
    <h3>Startup India recognition <br>(Govt of India) </h3>
  </div>
  <div class="column2">
    <i class="fa fa-list-alt" aria-hidden="true" ></i>
    <h3>e-Prescription</h3>
  </div>
  <div class="column2">
    <i class="fa fa-file-text" aria-hidden="true"></i>
    <h3>Electronic Medical<br> Records </h3>
  </div>
  <div class="column2">
    <i class="fa fa-user" aria-hidden="true" ></i>
    <h3>Dashboard Customization </h3>
  </div>
</div>

<div class="row2">
  <div class="column2" >
    <i class="fa fa-pie-chart" aria-hidden="true"></i>
    <h3> Smart Analytics </h3>
  </div>
  <div class="column2" >
    <i class="fa fa-info-circle" aria-hidden="true" ></i>
    <h3>  Innovative Algorithms </h3>
  </div>
  <div class="column2" >
    <i class="fa fa-lock" aria-hidden="true"></i>
    <h3> Security Protocols </h3>
  </div>
  <div class="column2" >
    <i class="fa fa-user-md" aria-hidden="true"></i>
    <h3> Patient Compliance</h3>
  </div>
</div>

<!--end of icons-->


<!--bottom menu starts-->

<div class="row3">
  <div class="column3">
    <h2>About Us</h2>
    <ul>
      <li><a href="/what-we-stand-for">What We Stand For  </a> </li><br>
      <li><a href="/directors"> Founders </a></li><br>
      <li><a href="/corporate-responsibility">Corporate Responsibility </a></li>
    </ul>
  </div>
  <div class="column3">
    <h2> Our Offerings</h2>
    <ul>
      <li><a href="/doctors"> For Doctors</a></li><br>
      <li><a href="/leadership">Leadership Consulting & Executive Search</a></li><br>
      <li><a href="/patients"> For Patients </a></li><br>
      <li><a href="/consumers"> For Consumers</a></li><br>
      <li><a href="/government"> For Government</a></li><br>
      <li><a href="/terms-and-conditions">Terms For Medical Practioners </a></li>
    </ul>
  </div>
  <div class="column3">
    <h2> Resources</h2>
    <ul>
      <li><a href="/social">Social Media</a></li><br>
      <li><a href="/our-stories">Our Stories </a></li><br>
       <li><a href="https://surajit-b.com/" target="_blank">Health & Tech Blog</a></li><br>
      <li> <a href="/fortune">Fortune Cookie</a></li>
    </ul>
  </div>
  <div class="column3">
    <h2> Contact</h2>
    <ul>
      <li><a href="/career"> Career</a></li><br>
      <li><a href="/queries"> Queries</a></li><br>
      <li><a href="/subscribe"> Subscribe</a></li>
    </ul>
  </div>

</div>



