<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->



<app-header [isEcommerce]="ecommerce"></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!--<div class="topnav" id="myTopnav">
  <a href="index.html"><img class="logo" src="images/ostino_logo1.png" width="180px" height="30px"> </a>
  <div class="topnav_right">
    <div class="dropdown">
      <button class="dropbtn"  onclick="window.location.href='index.html'">Home
      </button>
    </div>

    <div class="dropdown">
      <button class="dropbtn">About Us
      </button>
      <div class="dropdown-content">
        <a href="/what-we-stand-for">What We Stand For</a>
        <a href="/directors">Directors</a>
        <a href="/corporate-responsibility">Corporate Responsibility</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Our Offerings
      </button>
      <div class="dropdown-content">
        <a href="for-doctors.html">For Doctors</a>
        <a href="for-patients.html">For Patients</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Resources
      </button>
      <div class="dropdown-content">
         <a href="social-media.html">Social Media</a>
        <a href="our-stories.html">Our Stories</a>
        <a href="fortune-cookie.html">Fortune Cookie</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Contact
      </button>
      <div class="dropdown-content">
        <a routerLink="/career">Career</a>
        <a href="queries.html">Queries</a>
      </div>
    </div>

    <a href="javascript:void(0);" style="font-size:20px;color:black;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
</div>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>

<button class="button"  onclick="window.location.href='fortune-cookie.html'">YOUR FORTUNE COOKIE</button>

<div class="heading">
  <h1> Pioneering first of its kind intelligent cloud-based practice management platform</h1>
  <p> We call this Clinical Transformation. Join the platform and avail your Virtual Assistant.</p>
</div>


&lt;!&ndash;-content starts&ndash;&gt;

<div class="row">

  <h1> Digital Health Applied </h1>

  <div class="column">
    <img src="images/2.jpg" class="img" width="370px" height="200px">
    <h2>Healthcare is now and here</h2>
    <p><strong> Automate in a hassle free manner entire practice management; </strong>  be it individual clinic, nursing home, hospital or a combination of three.</p>
    <p><strong> Mapping of administrative work</strong> to your assistant / secretary so that  you can focus on what you do best. </p>

    <p><strong>  World class security</strong> through  state of the art data center, encryption algorithms,  tagging patients through unique identifiers and  access controls.</p>

    <p><strong> Simple platform</strong> for everyday everywhere usage at your fingertips through less clutter.</p>
  </div>

  <div class="column">
    <img src="images/1.jpg" class="img" width="370px" height="200px">
    <h2>Healthcare is personal</h2>
    <p> <strong>Mapping of patient-clinic touchpoints</strong> for optimization and enhance in-clinic experience.</p>

    <p> <strong>Patient History </strong> at your fingertips; no need to spend precious time querying medical history in each visit. </p>

    <p> <strong>Monitor adherence to medication </strong>post patient visit or discharge through seperate mobile application for patients only. </p>

    <p> <strong>Spend more time with patients </strong> let the platform do the hard work.</p>
  </div>

  <div class="column">
    <img src="images/3.jpg" class="img" width="370px" height="200px">
    <h2>Healthcare is innovating solutions</h2>
    <p> <strong> Map pharmacy or formulary approved drugs</strong> as part of electronic prescription through drop-downs to reduce leakage.</p>

    <p> <strong>Start your day  </strong> with alert on scheduled consulations and end your day with summary of patient consulations alert.</p>

    <p> <strong>Digitize physical prescription formats </strong> through Optical character Recognition (OCR) technologies integrated with your database account.</p>

    <p> <strong>Insights based on analytics </strong> More you use, more the algorithm understands you; the more relevant they become to your practice.</p>
  </div>
</div>

&lt;!&ndash;-content ends&ndash;&gt;


&lt;!&ndash;icons&ndash;&gt;
<div class="row2">
  <div class="column2">
    <i class="fa fa-certificate" aria-hidden="true" ></i>
    <h3>Startup India recognition <br>(Govt of India) </h3>
  </div>
  <div class="column2">
    <i class="fa fa-list-alt" aria-hidden="true" ></i>
    <h3>e-Prescription</h3>
  </div>
  <div class="column2">
    <i class="fa fa-file-text" aria-hidden="true"></i>
    <h3>Electronic Medical<br> Records </h3>
  </div>
  <div class="column2">
    <i class="fa fa-user" aria-hidden="true" ></i>
    <h3>Dashboard Customization </h3>
  </div>
</div>

<div class="row2">
  <div class="column2" >
    <i class="fa fa-pie-chart" aria-hidden="true"></i>
    <h3> Smart Analytics </h3>
  </div>
  <div class="column2" >
    <i class="fa fa-info-circle" aria-hidden="true" ></i>
    <h3>  Innovative Algorithms </h3>
  </div>
  <div class="column2" >
    <i class="fa fa-lock" aria-hidden="true"></i>
    <h3> Security protocols </h3>
  </div>
  <div class="column2" >
    <i class="fa fa-user-md" aria-hidden="true"></i>
    <h3> Patient Compliance</h3>
  </div>
</div>

&lt;!&ndash;end of icons&ndash;&gt;


&lt;!&ndash;bottom menu starts&ndash;&gt;

<div class="row3">
  <div class="column3">
    <h2>About Us</h2>
    <ul>
      <li><a href="what-we-stand-for.html">What We Stand For  </a> </li><br>
      <li><a href="directors.html"> Founders </a></li><br>
      <li><a href="corporate-responsibility.html">Corporate Responsibility </a></li>
    </ul>
  </div>
  <div class="column3">
    <h2> Our Offerings</h2>
    <ul>
      <li><a href="for-doctors.html"> For Doctors</a></li><br>
      <li><a href="for-patients.html"> For Patients </a></li><br>
      <li><a href="terms-and-conditions.html">Terms For Medical Practioners </a></li>
    </ul>
  </div>
  <div class="column3">
    <h2> Resources</h2>
    <ul>
      <li><a href="social-media.html">Social Media</a></li><br>
      <li><a href="our-stories.html">Our Stories </a></li><br>
      <li> <a href="fortune-cookie.html">Fortune Cookie</a></li>
    </ul>
  </div>
  <div class="column3">
    <h2> Contact</h2>
    <ul>
      <li><a href="career.html"> Career</a></li><br>
      <li><a href="queries.html"> Queries</a></li>
    </ul>
  </div>

</div>

&lt;!&ndash;bottom menu ends&ndash;&gt;

&lt;!&ndash;footer  starts&ndash;&gt;

<app-footer></app-footer>-->
<!--<div class="footer">
  <div class="footer_row">
    <div class="footer_column">
      <a onclick=" window.open('https://twitter.com/OstinoHealth?ref_src=twsrc%5Etfw&ref_url=file%3A%2F%2F%2FC%3A%2FUsers%2FAnkit%2FDesktop%2Fostinohealth%2520res%2Fsocial-media.html','_blank')" class="fa fa-twitter" aria-hidden="true" style="font-size:20px;color:white;cursor: pointer;"></a>
      &nbsp;&nbsp;&nbsp;&copy 2018  Ostino Enterprises Pvt.Ltd. | All rights reserved  </div>
    <div class="footer_column">
      <a href="disclaimer.html">Disclaimer</a> </div>
  </div>
</div>-->

<!--footer  ends-->



