.content{
  height: 100%;
  background-color:#bbb;
  overflow: hidden;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  display: block;
}

@keyframes loading {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(1turn)}
}
.spinner {
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  background-color: #000;
  background-color: rgba(0,0,0,.4);
  overflow-x: hidden;
  height: 100%;
}
.loading {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border-top: 5px solid #53777a;
  border-bottom: 5px solid #c02942;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -80px;
  animation: loading 1.2s linear infinite;
  -webkit-animation: loading 1.2s linear infinite;
}


