<div class="image">
  <img src="https://s3.ap-south-1.amazonaws.com/ostinohealth/static/trees/Sal.jpg">
</div>

<div class="content">

  <h2>SAL TREE (Scientific Name: Shorea robusta)</h2>

  <p>  <b>Description :</b> Sal is a large sub deciduous tree. It is up to 30 meter high. Sal tree is seldom completely leafless. It has large leathery leaves and yellowish flowers. They have tough texture. Young trees have a linear crown, which becomes rounder and flatter with aging. The sapwood is whitish in colour, thick and is less durable. The heartwood becomes dark brown to black in colour on exposure. The wood pores are filled with resin.  </p>

  <p><b>Location : </b>Sal tree are found in Assam, Nepal, Bengal and on the bank of the Yamuna river. In Haryana Sal can be found in the Morni Hills and the Kalesar forests. Sal tree grows in North East and Central India up to 1700 meter elevation. It is widely grown in the foothills of the Himalayas. Sal trees are also found in the Bandhavgarh National Park, Corbett National Park and Dudhwa national Park in India. </p>

  <h3>How to recognise it? </h3>
  <p> The leaves of the sal tree are ovate-oblong in shape. Their texture is rough and they have a peculiar shine on their upper surface. </p>


  <p><b>Cultivation methods :</b> Sal tree requires well drained, moist and sandy loam soil. It can grow in type type of temperature. It is mostly propagated through cuttings. In dry conditions it sheds it leaves from February to March. New leaves appear in the month of April and May. The flowers mature into fruit in summers and the seeds ripen in June -July.   </p>

  <p> <b>Medicinal uses :</b> The resin is used in the indigenous system of medicine as an astringent and detergent and is given in diarrhea and dysentery. It is also used as an ingredient of ointments for skin diseases and in the ear troubles. It is also used in the foot care cream. The fruits of the Sal tree are used in the treatment of excessive salivation, epilepsy, and chlorosis. The powered seeds have insecticides properties. The powered seeds are even used to treat dental problems. It cleanses the skin of oily secretion and is used as the cleanser for washing hair. </p>

  <p><b>Other uses :</b> The leaves of the Sal tree are used by the tribal people for preparing rice cakes and for smoking. The leaves are used to make platters, bowls, small baskets and many more. Distilled leaves produce an oil which is used in perfumery. It is also used in lavouring chewing gums and tobacco. Its dried and fallen leaves are used as fertilizers. It is used for caulking ships and boats. The oil that comes out from its seed is edible and is known as Sal butter. It is often used in cooking and for the burning in the oil lamps. The seeds of the Sal tree are used for fat extraction. Its oil is even used for adulterating ghee. Tribal people give marriage invitation in the form of folded Sal leaves, with the little bit of turmeric and rice inside it. </p>

  <p><b>Cultural Importance :</b> Sal tree is worshiped among the Buddhist and Hindus in India. It is mentioned in many scriptures that the Buddha was born and died under the Sal tree. A branch of the tree bend down to support his mother Maya and as soon as he held on the tree, the baby appeared. Sal tree has special significance in the festivals and marriages of Adivasi. A pole of the Sal tree is considered very important and unless the bridegroom sits on the altar made of tree of Sal, the marriage has no meaning. It also holds great value in the lives of the indigenous populance of Chotanagpur plateau. It is the main attraction of the festival of Sarhul, which means Sal Blossoms Festival. The whole festival revolves round the Sal tree. </p>

</div>

<!-- pagination-->
<div class="pagination">
  <a href="/ashoka">&laquo;</a>
  <a href="/gulmohar">7</a>
  <a href="/mango" >8</a>
  <a href="/lychee" >9</a>
  <a href="/shisham">10</a>
  <a href="/ashoka" >11</a>
  <a href="/sal" class="active">12</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>
