<div class="container">
		<div class="row">

			<div class="column left">
				 <div class="product-image-box">
					<img class="product-img" src="https://rukminim1.flixcart.com/image/832/832/jdhp47k0/mobile/e/h/e/redmi-note-5-pro-na-original-imaf2ashnnbxxks5.jpeg?q=70" >
				</div>
				<br>
				<button  onclick="window.location.href='#'">
				  <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;
						Add to cart</button>
					<button><i class="fa fa-bolt" aria-hidden="true"></i>
					&nbsp;Buy Now</button>
			</div>

			<div class="column right">
					 <h2>Redmi Note 5 (Black, 32 GB)  (3 GB RAM)</h2>
   					 <h3>#OnlyOnOstinoHealth</h3>	
   					 <h2>Price: &#8377;9,999</h2>
   					 <div class="gap">
   					 </div>
						<div class="description">
							<h2>Product Description</h2>
							<p>Meet the Redmi Note 5 - the elegantly designed smartphone that comes with a powerful 14 nm Snapdragon 625 processor. From capturing enchanting pictures with the rear camera and an amazing front camera, to watching videos and playing games on the FHD+ display, this smartphone ensures you never have a dull moment again.</p>
						</div>
   			</div>
   		</div>
	</div><!-- container ends-->