<div class="container">

  <!--left panel-->
  <!--<div class="left-panel">


    <div class="left-content1">

      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="text">Hello,<br><b>Username</b></span>

    </div>

    <div class="gap"></div>

    <div class="left-content2">

      <div class="order">
        <a href="#"><i class="fa fa-folder" aria-hidden="true"></i><b>MY ORDERS</b>           <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </div>
      <hr>

      <div class="account">
        <i class="fa fa-user" aria-hidden="true"></i><b>ACCOUNT SETTINGS</b>
      </div>

      <div class="profile">
        <a  href="#"><h3>Profile Information</h3></a>
        <a  href="#"><h3>Manage Addresses</h3></a>
      </div>
    </div>

    <div class="gap"></div>

    <div class="left-content3">
      <div class="logout">
        <a href="#"><i class="fa fa-power-off" aria-hidden="true"></i><b>Logout</b></a>
      </div>

    </div>

  </div>-->
  <!--left panel ends-->

  <!--right panel-->

  <div class="right-panel">

    <div class="right-content1">

      <b>Personal Information </b> &nbsp; &nbsp;<a href="">Edit</a>
      <br><br>

      <div class="row">

        <div class="column">
          <input type="text" id="fname" name="firstname" [value] = "userdetails.name" placeholder="Firstname">
          <input type="text" id="lname" name="lastname" placeholder="Lastname">
          <button class="button">SAVE</button>
        </div>

      </div>

      <p>Your Gender</p>
      <label class="gender">
        <input type="radio" name="radio">Male
        <span class="checkmark"></span>
      </label>
      <label class="gender">
        <input type="radio" name="radio" id="female" >Female
        <span class="checkmark"></span>
      </label>

    </div>

    <div class="right-content2">
      <b>Email Address</b>&nbsp; &nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
      <br><br>
      <input type="email" id="email" name="email" placeholder="abc@gmail.com">
      <button class="button">SAVE</button>
      <br><br>
      <b>Password</b> &nbsp; &nbsp; &nbsp; &nbsp;<a href="#"  onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Edit</a>

    </div>

  </div>
  <!--right panel ends-->






  <div id="id01" class="modal">

    <form class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

      </div>

      <div class="modal-container">

        <div class="modal-row">

          <div class="modal-column">

            <b>Your new password must:</b>
            <ul>
              <li>Be at least 6 characters in length</li>
              <li>Not be same as your current password</li>
              <li>Not contain common passwords.</li>
            </ul>

          </div>




          <div class="modal-column">
            <label for="change-password"><b>Change Password</b></label>
            <input type="password" placeholder="Type Current Password" name="current-password" required>

            <input type="password" placeholder="Type New Password" name="password" required>

            <input type="password" placeholder="Retype New Password" name="password" required>

            <button class="modal-button " type="submit">CHANGE PASSWORD</button>
          </div>


        </div> <!--row ends-->

      </div><!--container ends-->


    </form>
  </div><!--modal ends-->

  <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

</div>
<!--container ends-->
