<div class="container">
  <!--<form novalidate [formGroup]="personalInfo">-->
  <div class="right-panel">
<form novalidate [formGroup]="personalInfo" (ngSubmit)="personalInfo.valid && updateProfile()">
    <div class="right-content1">

      <b>Personal Information </b> &nbsp; &nbsp;<!--<a href="">Edit</a>-->
      <br><br>

      <div class="row">

        <div class="column">
          <input type="text"   formControlName="name" placeholder="Firstname">
          <input type="text"  placeholder="10 digit Mobile Number" formControlName="contact">
          <!--<button class="button">SAVE</button>-->
        </div>

      </div>

      <p>Your Gender</p>
      <label class="gender">
        <input type="radio" formControlName="gender" value="MALE">Male
        <span class="checkmark"></span>
      </label>
      <label class="gender">
        <input type="radio" formControlName="gender" value="FEMALE" >Female
        <span class="checkmark"></span>
      </label>

    </div>

    <div class="right-content2">
      <b>Email Address</b>&nbsp; &nbsp; &nbsp; &nbsp;<!--<a href="#">Edit</a>-->
      <br><br>
      <input type="email" id="email" formControlName="email"  readonly>
      <button class="button" type="submit">SAVE</button>
      <br><br>
      <b>Password</b> &nbsp; &nbsp; &nbsp; &nbsp;<a onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Edit</a>

    </div>
</form>
</div>

  <!--right panel ends-->






  <div id="id01" class="modal">

    <form class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

      </div>

      <div class="modal-container">

        <div class="modal-row">

          <div class="modal-column">

            <b>Your new password must:</b>
            <ul>
              <li>Be at least 6 characters in length</li>
              <li>Not be same as your current password</li>
              <li>Not contain common passwords.</li>
            </ul>

          </div>




          <div class="modal-column">
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid && changePassword()" novalidate>
            <label><b>Change Password</b></label>
            <input type="password" placeholder="Type Current Password" name="current-password" formControlName="currentPassword">
              <p class="error" *ngIf="changePasswordForm.controls.currentPassword.invalid && !changePasswordForm.controls.currentPassword.pristine" class="error">Enter Current Password</p>
            <input type="password" placeholder="Type New Password" name="password" formControlName="newPassword">
              <p class="error" *ngIf="changePasswordForm.controls.newPassword.invalid && !changePasswordForm.controls.newPassword.pristine"
                 >Password should be of minimum 6 characters in length and must contain at least 1 uppercase & 1 numeral</p>

            <input type="password" placeholder="Retype New Password" name="password" formControlName="confirmPassword">
              <p *ngIf="changePasswordForm.controls.confirmPassword.invalid && !changePasswordForm.controls.confirmPassword.pristine" class="error">Password do not match</p>
            <button class="modal-button " type="submit" [ngStyle]="{'cursor': changePasswordForm.valid ? '' : 'not-allowed' }">CHANGE PASSWORD</button>
            </form>
          </div>


        </div> <!--row ends-->

      </div><!--container ends-->


    </form>
  </div><!--modal ends-->



<!--container ends-->
