<div class="container">



  <div class="main-row">

    <div class="main-column1">

      <div class="cart-heading">
        <h3>My Cart {{cartItems.length}}</h3>
      </div>


      <div class="row" *ngFor="let item of cartItems">
        <div class="column1" >
          <a href="#"><img  class="product-image" src="images/sample1.jpg"></a>
        </div>

        <div class="column2">
          <a href="#" style="font-weight: lighter;"> <b>{{item.name}}</b> </a>
          <br><br><br>
          <!--<a href="#" style="color:#4d0000"><b> Save for Later</b></a>-->
          <a  class="link" style="color:#4d0000" (click)="remove(item._id)"> <b>Delete</b></a>
        </div>

        <div class="column3">
          <b>Price: {{item.price}}</b>
        </div>

        <div class="column4">
          <input type='button' value='-' class='qtyminus' field='quantity' (click)="update(item, -1)"/>
          <input type='number' name='quantity' [value]="item.quantity" class='qty'  onkeypress="return event.charCode >= 49"/>
          <input type='button' value='+' class='qtyplus' field='quantity' (click)="update(item, 1)"/>
        </div>

      </div>

      <div class="cart-button">


        <button  onclick="window.location.href='ecom/products'"><i class="fa fa-chevron-left" aria-hidden="true"></i>
          CONTINUE</button>
        <button (click)="checkout()">PLACE ORDER</button>

      </div>

    </div><!--main column1 ends-->

    <div class="main-column2">

      <h2>Price Details</h2>
      <hr>

      <table>
        <tr>
          <td>Price (1 item)</td>
          <td> {{total}}</td>
        </tr>
        <tr>
          <td>Delivery Charges</td>
          <td>FREE</td>
        </tr>
      </table>
      <hr class="style">
      <table>
        <tr>
          <td>Amount Payable</td>
          <td>{{total}}</td>
        </tr>
      </table>


    </div>

  </div><!-- main row ends-->

</div><!--container ends-->
