<div class="container">

 <!-- <div>
    <h4>Delivery Address</h4>
    <p> sbxjsbxcksbnckdncld</p> <button >Change</button>
  </div>-->


  <div class="main-row">

    <div class="main-column1" >

 <!--     <div class="cart-heading">
        <h3>My Cart {{cartItems.length}}</h3>
      </div> -->


      <div class="row" style="margin-top: 1%;margin-bottom: 1%" *ngFor="let item of cartItems">
        <div class="column1" >
          <a href="#"><img  class="product-image" src="{{item.img}}"></a>
        </div>

        <div class="column2">
          <a href="#" style="font-weight: lighter;"> <b>{{item.name}}</b> </a>
          <br><br><br>
          <!--<a href="#" style="color:#4d0000"><b> Save for Later</b></a>-->
          <a  class="link" style="color:#262626;cursor: pointer;" (click)="remove(item._id)"> <b>Delete</b></a>
        </div>

        <div class="column3">
          <b>&#8377; {{item.price}}</b>
        </div>

        <div class="column4" *ngIf="item.type!= 'painting'">
          <input type='button' value='-' class='qtyminus' field='quantity' (click)="update(item, -1)"/>
          <input type='number' name='quantity' [value]="item.quantity" class='qty'  onkeypress="return event.charCode >= 49"/>
          <input type='button' value='+' class='qtyplus' field='quantity' (click)="update(item, 1)"/>
        </div>

      </div>

      <div class="cart-button" style="background-color: #f5f5f5;">


        <button  onclick="window.location.href='ecom/products'"><i class="fa fa-chevron-left" aria-hidden="true"></i>
          CONTINUE</button>
        <button (click)="checkout()">PLACE ORDER</button>

      </div>

    </div><!--main column1 ends-->

    <div class="main-column2">

      <h2>Price Details</h2>
      <hr>
      <table>
        <tr>
          <td>Price ({{cartItems.length}}  {{cartItems.length == 1 ? 'item' : 'items'}})</td>
          <td>&#8377;   {{total}}</td>
        </tr>
        <tr style="border-bottom: 1px dashed #808080;">
          <td>Delivery Charges</td>
          <td>&#8377;   {{delivery_charges}}</td>

        </tr>
        <tr>
          <td>Amount Payable</td>
          <td>&#8377;   {{amount_payable}}</td>
        </tr>
      </table>


    </div>

  </div><!-- main row ends-->

</div><!--container ends-->
