<div class="image">
  <img src="images/Mango.jpg">
</div>

<div class="content">

  <h2>MANGO TREE (Scientific Name: Mangifera indica)</h2>

  <p> Mangifera indica, commonly known as mango, is a species of flowering plant native to the Indian subcontinent where it is indigenous. Hundreds of cultivated varieties have been introduced to other warm regions of the world. It is a large fruit-tree, capable of a growing to a height and crown width of about 100 feet and trunk circumference of more than twelve feet. </p>

  <p>The species domestication is attributed to India around 2000 BCE. Mango is the national fruit of India, Pakistan and the Philippines.</p>

  <p>Worldwide, hundreds of mango cultivars exist. In mango orchards, multiple cultivars are often grown together to improve cross-pollination.</p>

  <p><i>Note: The term cultivar most commonly refers to an assemblage of plants selected for desirable characters that are maintained during propagation. More generally, cultivar refers to the most basic classification category of cultivated plants in the International Code of Nomenclature for Cultivated Plants (ICNCP). </i></p>

  <p>Reportedly, in India alone, there are around 283 types of mangoes, out of which only 30 are well-known. The United States Department of Agriculture (USDA) facility on Old Cutler Road in Coral Gables, Florida, has about 400 varieties of mangoes and is one of the largest depositories of mango plant cultures in the world. The USDA collection was originally believed to have over 500 varieties of mango germplasm, but genetic testing showed several duplicates.</p>

  <h3>Common Cultivars of Mangoes </h3>
  <h3>Alphonso</h3>
  <p>"King of mangoes", very sweet with fibreless pulp, rich in vitamin A and C, founded mainly in Devgad & Ratnagiri Districts of Maharashtra, India. This cultivar is available in February till end of May. The dates of availability of mangoes vary by geography, climate, and weather. The "King of Mangoes" is a marketing term.</p>

  <h3>Banganapalli</h3>
  <p>The largest volume mango cultivar in the world, this medium-large fruit ripens to a golden-yellow exterior and a straw-yellow to golden-yellow interior. Very juicy, slightly tangy with little or no fibre and a creamy texture. It originates from the erstwhile princely state of Banganapalle, in present-day Andhra Pradesh, India.</p>

  <h3> Traditional Medicine</h3>
  <p>In Ayurveda, it is used in a Rasayana formula sometimes with other mild sours and shatavari (Asparagus racemosus) and guduchi (Tinospora cordifolia). In this oriental system of traditional medicine, varied properties are attributed to different parts of the mango tree, both as food and medicine. </p>

  <p> Extracts of the bark, leaves, stems, and unripe fruits have demonstrated antibiotic properties in vitro, and are used in traditional medicine.</p>

  <h3>Wood</h3>
  <p>The tree is more known for its fruit rather than for its timber. However, mango trees can be converted to lumber once their fruit bearing lifespan has finished. The wood is susceptible to damage from fungi and insects. The wood is used for musical instruments such as ukuleles, plywood and low-cost furniture. The wood is also known to produce phenolic substances that can cause contact dermatitis.</p>

</div>

<div class="pagination">
  <a href="/gulmohar">&laquo;</a>
  <a href="/gulmohar">7</a>
  <a href="/mango" class="active" >8</a>
  <a href="/lychee" >9</a>
  <a href="/sheesham">10</a>
  <a href="/ashoka">11</a>
  <a href="/sal" >12</a>
  <a href="/lychee">&raquo;</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>
