<div class="image">
  <img src="https://s3.ap-south-1.amazonaws.com/ostinohealth/static/trees/banyan.jpg">
</div>

<div class="content">

  <h2>BANYAN TREE (Scientific Name: Ficus Benghalensis)</h2>

  <p>  Banyan tree is a huge evergreen tree with very extensive branches. Its branches spread out and send trunk like roots to the ground in order to support itself. It grows to a height of more than 21 meters and lives for many years.  </p>

  <p>The leaves of the banyan tree are large, leathery, glossy, green, and elliptical. Like most figs, the leaf bud is covered by two large scales. As the leaf develops the scales abscise. Young leaves have an attractive reddish tinge.</p>

  <p>The seeds are small, and because most banyans grow in woodlands, a seedling that germinates on the ground is unlikely to survive. However, many seeds fall on the branches and stems of other trees or on human edifices, and when they germinate they grow roots down toward the ground and consequently may envelop part of the host tree or edifice. For this reason banyans bear the colloquial name "strangler fig". A number of tropical banyan species that compete for sunlight, especially of the genus Ficus, exhibit this strangling habit.</p>

  <p>Older banyan trees are characterized by aerial prop roots that mature into thick, woody trunks, which can become indistinguishable from the primary trunk with age. Old trees can spread laterally by using these prop roots to grow over a wide area. In some species, the prop roots develop over a considerable area that resembles a grove of trees, with every trunk connected directly or indirectly to the primary trunk. The topology of this massive root system inspired the name of the hierarchical computer network operating system "Banyan VINES".</p>

  <h3>Origin of the name</h3>
  <p>The name was originally given to F. benghalensis and comes from India, where early travellers observed that the shade of the tree was frequented by Banyans (a corruption of Baniyas, a community of Indian traders)</p>

  <h3>Ancient Hindu Connection </h3>
  <p>Banyan is the national tree of India. In Hinduism, the leaf of the banyan tree is said to    be the resting place for the god Krishna. <br>
    In the Bhagavat Gita, Krishna said, "There is a banyan tree which has its roots upward and its branches down, and the Vedic hymns are its leaves. One who knows this tree is the knower of the Vedas." (Bg 15.1) Here the material world is described as a tree whose roots are upwards and branches are below. <br>
    The god Shiva as Dakshinamurthy is nearly always depicted sitting in silence under the banyan with rishis at his feet. It is thought of as perfectly symbolizing eternal life due to its seemingly unending expansion.</p>

  <h3>Horticulture</h3>
  <p> Due to the complex structure of the roots and extensive branching, the banyan is used as a subject specimen in penjing and bonsai. The oldest, living bonsai in Taiwan is a 240-year-old banyan tree housed in Tainan.</p>

  <h3> Uses</h3>
  <p>Different parts of the tree are known to be helpful in treating diseases like dysentery, diarrhea, diabetes, leucorrhoea, menorrhagia and nervous disorders. Banyan trees have many different health benefits due to the many endophytes that they host in their aerial roots. Endophyte refers to organisms that live within plants, most commonly bacteria or fungi. These endophytes have a symbiotic relationship with the tree by providing the tree with protection from microbes, and the tree in return hosts the endophytes. These endophytes also help the tree by protecting them against pathogens and by helping their fitness by nitrogen fixation. </p>

  <p>The Banyan tree also has several medicinal properties as per ayurveda. Its leaf, bark, seeds and fig are used for the variety of disorders like diarrhea, polyuria, dental, diabetes and urine disorders. The wood of the Banyan tree is used in making door panels, boxes and the other items. Its bark is used for making paper and ropes. The milky latex that comes from its leaves and stems is used in many Ayurvedic medicines. <br>
    In India its edible leaves are used as the plates. It is planted for the soil conservation. Wood is used for well curbs, door panels, boxes, furniture etc. It is suitable for paper pulp. The wood of the aerial roots is stronger and is used for the tent poles and cart yokes.
  </p>

  <p> Banyan tree is respected and is considered as sacred by the people in India. In the sacred Hindu Book 'Bhagwad Gita' Lord Krishna has sung praises on the Banyan tree. People in India grow Banyan tree closer to the Peepal tree. As Banyan tree is considered as the male plant closely related to the Peepal tree. It symbolizes Trimurti with Vishnu as the bark, Shiva as the branches and Brahma as the roots. Indians considered Banyan tree as 'Kalpa Vriksha' the tree that fulfill all your wishes.The mighty Banyan Tree is considered as immortal and has always been the focal point for the village communities in India. Banyan tree is the tree of knowledge and tree of life. </p>

  <h3>Famous Specimens</h3>
  <ul>
    <li>Thimmamma Marrimanu is a banyan tree in Anantapur, located circa 35 km from the town of Kadiri in the state of Andhra Pradesh, India. It is present in the Indian Botanical Gardens and is more than 200 years old. It is reported to be the world's biggest tree with a canopy of 19,107 m2. Its branches spread over 8 acres, hence it was recorded as the biggest tree in the Guinness Book of World Records in 1989. </li>
    <li>One of the largest trees, the Great Banyan is found in Kolkata, India. It is said to be more than 250 years old.</li>
    <li>Another such tree, Dodda Aalada Mara as in "Big Banyan Tree", is found in the outskirts of Bangalore, India; it has a spread of circa 2.5 acres. </li>
    <li>One of the most famous banyan trees, Kabirvad was planted on an island in a river in Bharuch, Gujarat, India. Records show that Kabirvad is more than 300 years old.</li>
  </ul>

  <h3>Trivia</h3>

  <p>The banyan is part of the coat of arms of Indonesia. It is meant to symbolize the unity of Indonesia - one country with many far-flung roots. As a giant tree, it also symbolizes power. Soeharto used it as a logo for his party, the Golongan Karya (Golkar), taking advantage of the deeply rooted belief of his fellow-countrymen and women in the sacred (sakti) nature of the banyan. </p>


</div>

<div class="pagination">
  <a href="/trees">&laquo;</a>
  <a href="/banyan" class="active">1</a>
  <a href="/peepal" >2</a>
  <a href="/neem" >3</a>
  <a href="/eucalyptus">4</a>
  <a href="/jamun">5</a>
  <a href="/tamarind">6</a>
  <a href="/peepal">&raquo;</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>


