
.content{
  margin: 40px;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  color:#330000;
}
.content p{
  margin-top: 35px;
  font-size: 30px;
}
.content b{
  font-weight: lighter;
  font-size: 20px;
}

.button{
  background-color:  #b30000;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column{
  float: left;
  width: 50%;
  padding: 10px;
  margin-top: 30px;
  height: 100%; /* Should be removed. Only for demonstration */
  font-size: 20px;
}
.column h2,.column2 h2{
  color:#511515;
}
.column table a,.column2 table a{
  font-weight: bold;
  color:#511515;
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
  font-size: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column{
  padding: 0px 30px  30px;
}
.column2{
  padding: 0px 30px  30px;
}


.row2:after {
  content: "";
  display: table;
  clear: both;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding-top: 25px;
  text-align: left;
}
table a{
  text-decoration: none;
}

.content2{
  background-color: #ebebe0;
}


.terms{
  height: 80px;
  background-color:#001a33;
  text-align: center;
}
.terms a{
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color:white;
}







@media screen and (max-width: 600px) {

  .content{
    font-size: 15px;
    margin:0px;
  }
  .container h1{
    margin-top: 0px;
  }
  .content p{
    font-size: 20px;
    margin-top: 0px;
  }
  .content br{
    display: none;
  }
  .content b{
    font-size: 15px;
    line-height: 0px;
  }
  .row{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }


  .column{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 15px;
  }
  .row2{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }


  .column2{
    font-size: 15px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .terms{
    margin: 0px;
    height: auto;
  }

  .terms a{
    font-size: 15px;
  }
}



@media screen and (max-width: 900px) {

  .button{
    padding:10px;
    display: block;
    margin: auto;
    font-size: 12px;
  }
  .container h1{
    margin-top: 0px;
  }
  .content{
    font-size: 15px;
    margin:0px;
  }
  .content p{
    font-size: 20px;
    margin-top: 0px;
  }
  .content br{
    display: none;
  }
  .content b{
    font-size: 15px;
    line-height: 0px;
  }
  .row{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }


  .column{
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 15px;

  }

  td{
    padding-top: 10px;
  }

  .row2{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }


  .column2{
    font-size: 15px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .terms{
    margin: 0px;
    height: auto;
  }

  .terms a{
    font-size: 15px;
  }
}
