<div class="container">

  <div class="content">
    <h1> Automate in a hassle-free manner entire practice management</h1>
    <p>Safe and convenient package that saves your time.<p>
    <button class="button" onclick=" window.open('http://rxthru.com','_blank')"> Sign Up</button><br>
    <b>It's simple and free! Register on RxThru.com and you are ready to go.</b>
  </div>



  <div class="content2">

    <div class="row">
      <div class="column" style="background-color:#ebebe0;">
        <h2>Manage your practice seamlessly</h2>
        <p >You focus on what you do best and leave the rest to us. With automatic updates and cloud based data library at your fingertips, you mitigate your risks through e-prescription. Reduce redundant data entire data once.</p><br>

        <table>
          <tr>
            <td ><a href="#" >PRODUCTIVE INCREASE</a></td>
            <td><a href="#">RISK MITIGATION</a></td>

          </tr>
          <tr>
            <td><a href="#">ANYTIME ANYWHERE ACCESS</a></td>
            <td><a href="#">DATA DRIVEN ANALYTICS </a></td>
          </tr>
        </table>
      </div>

      <div class="column" style="background-color:#ebebe0;">
        <h2>Increase revenues</h2>
        <p>Better documentation with legible, organized and complete records- seamlessly integrate with your practice
          management software. Enhanced communication between front office staff and you - maximize the use of your day using workflows and schedules.</p>
        <table>
          <tr>
            <td><a href="#">INCREASE INCOME</a></td>
            <td><a href="#">SEAMLESS COMMUNICATION</a></td>
          </tr>
          <tr>
            <td><a href="#">TIME MANAGEMENT</a></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row2">
      <div class="column2" style="background-color:#ebebe0;">
        <h2>Reduce expenses and save on time</h2>
        <p >Reduction in overall clinic support staff head count. Eliminate file cabinets, file folders and other paper supplies. Free up valuable revenue-generating office space. Reduce labor costs and internal / copying expense.</p><br>
        <table>
          <tr>
            <td><a href="#">INCREASE EFFICIENCY </a></td>
            <td><a href="#">LOWERS OVERHEADS </a></td>

          </tr>
          <tr>
            <td><a href="#">FREE UP TIME </a></td>
          </tr>
        </table>
      </div>

      <div class="column2" style="background-color:#ebebe0;">
        <h2>Improve treatment outcomes</h2>
        <p>Consolidate all patient data and treatment documentation in one platform. Let your assistant / secretary enter routine patient details so that you focus on the treatment. Less time on admin more quality time per patient, better management of patient load; better outcoms.</p>
        <table>
          <tr>
            <td><a href="#">DELEGATION OF NON-CORE TASKS </a></td>
            <td><a href="#">PATIENTS ENGAGEMENTS </a></td>

          </tr>
          <tr>
            <td><a href="#">QUALITY TIME PER PATIENTS </a></td>
          </tr>
        </table>
      </div>

    </div>

  </div>


</div>
<!--end of container-->



<!--terms and conditions-->
<div class="terms">
  <a href="/terms-for-doctors">Terms For Medical Practioners </a>
</div>



