<div class="container">

<div id="terms">
  <h3>TERMS AND CONDITIONS</h3>
  <p>Ostino Enterprises Private Limited ("Ostino") is the author and publisher of the mobile application  resource medthatheals ("App"). Ostino owns and operates the services provided through Google Android playstore.</p>
  <h3>1.EXPRESS DISCLAIMER</h3>
  <p>Ostino Enterprises Pvt Ltd, its offering medthatheals, is not a medical service provider, nor is it involved in providing any healthcare or medical advice or diagnosis, it shall hence not be responsible and owns no liability to either Patients or Care-givers or Medical Practitioners for any outcome from the consultation with the Medical Practitioner.</p>
  <h3>2. NO DOCTOR - PATIENT RELATIONSHIP; NOT FOR EMERGENY USE </h3>
  <p>2.1 Please note that some of the content, text, data, graphics, images, information, suggestions, guidance, and other material (collectively, "Information") that may be available on the Website or the Mobile App (including information provided in direct response to your questions or postings) may be provided by individuals in the medical profession. The provision of such Information does not create a licensed medical professional/patient relationship, between Ostino (both website and mobile app) and you and does not constitute an opinion, medical advice, or diagnosis or treatment of any particular condition, but is only provided to assist you with locating appropriate medical care from a qualified practitioner.<br>
    2.2 It is hereby expressly clarified that, the Information that you obtain or receive from Ostino (both website and mobile app), and its employees, contractors, partners, sponsors, advertisers, licensors or otherwise on the Website is for informational purposes only. We make no guarantees, representations or warranties, whether expressed or implied, with respect to professional qualifications, quality of work, expertise or other information provided on the Website. In no event shall we be liable to you or anyone else for any decision made or action taken by you in reliance on such information.<br>
    2.3 The Services are not intended to be a substitute for getting in touch with emergency healthcare or medical professionals. If you are a patient facing a medical emergency (either on your or on another person's behalf), please contact an ambulance service or hospital directly.</p>
  <h3>YOU HAVE READ THESE TERMS OF USE AND AGREE TO ALL OF THE PROVISIONS CONTAINED ABOVE</h3>
</div>

</div>
