
.img{
  border:2px solid #a22a2a;
}


#terms{
  overflow: hidden;
  background-color:#bbb;
}

#terms h2,h1,h3{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color:#511515;
}
#terms p{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}
#terms a{
  color:#511515;
  font-weight: bold;
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 600px) {

  *{
    font-size: 15px;
  }

  .img{
    width: 30%;
    height: auto;
  }

  #terms p{
    margin-top:0;
    font-size: 13px;
  }
  #terms h1,h2{
    margin-top:0;
    font-size: 20px;
  }

  #terms h2,h1,h3{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;

  }
  #terms p{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;

  }
}




@media screen and (max-width: 900px) {
}

@media screen and (max-width: 900px) {

  *{
    font-size: 15px;
  }

  .img{
    width: 30%;
    height: auto;
  }

  #terms p{
    margin-top:0;
    font-size: 13px;
  }
  #terms h1,h2{
    margin-top:0;
    font-size: 20px;
  }

  #terms h2,h1,h3{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;

  }
  #terms p{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;

  }
}
