<div class="image">
  <img src="images/Jamun.jpg">
</div>

<div class="content">

  <h2>JAMUN TREE (Scientific Name: Syzygium cumini)</h2>

  <p> Syzygium cumini, commonly known as jambolan, Java plum, black plum or jamun, is an evergreen tropical tree in the flowering plant family Myrtaceae. It is native to the Indian Subcontinent, adjoining regions of Southeast Asia, China and Queensland. The name of the fruit is sometimes mistranslated as blackberry, which is a different fruit in an unrelated family. Syzygium cumini has been spread overseas from India by Indian emigrants and at present is common in former tropical British colonies.  </p>

  <h3>Description </h3>
  <p>A slow growing species, it can reach heights of up to 30 m and can live more than 100 years. Its dense foliage provides shade and is grown just for its ornamental value. At the base of the tree, the bark is rough and dark grey, becoming lighter grey and smoother higher up. The wood is water resistant. Because of this it is used in railway sleepers and to install motors in wells. It is sometimes used to make cheap furniture and village dwellings though it is relatively hard to work on.<br>
    The leaves which have an aroma similar to turpentine, are pinkish when young, changing to a leathery, glossy dark green with a yellow midrib as they mature. The leaves are used as food for livestock, as they have good nutritional value. </p>

  <p><i>Syzygium cumini </i> trees start flowering from March to April. The flowers are fragrant and small, about 5 mm in diameter. The fruits develop by May or June and resemble large berries. Unripe fruit looks green. As it matures, its color changes to pink, then to shining crimson red and finally to black color. A variant of the tree produces white coloured fruit. The fruit has a combination of sweet, mildly sour and astringent flavour and tends to colour the tongue purple.</p>

  <p>Bears like this fruit. It is much eaten by birds and is a favourite food of the large bat or flying fox. </p>

  <h3> Uses</h3>
  <p>The seed of the fruit is used in various alternative healing systems like Ayurveda, Unani and Chinese medicine.</p>

  <p> Wine and vinegar are also made from the fruit. It has a high source in vitamin A and vitamin C. </p>

  <h3>Cultural Significance </h3>
  <p>Lord Krishna is also known to have four symbols of the jambu fruit on his right foot as mentioned in the Srimad Bhagavatam commentary (verse 10.30.25), "Sri Rupa Cintamani" and "Ananda Candrika" by Srila Visvanatha Chakravarti Thakura.</p>

  <p>In the great epic of India Mahabharatha, Lord Krishnas' (Lord Vishnu) body color is compared to this fruit as well.  </p>


</div>
<div class="pagination">
  <a href="/eucalyptus">&laquo;</a>
  <a href="/banyan">1</a>
  <a href="/peepal" >2</a>
  <a href="/neem"  >3</a>
  <a href="/eucalyptus">4</a>
  <a href="/jamun" class="active">5</a>
  <a href="/tamarind">6</a>
  <a href="/tamarind">&raquo;</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>


