<div class="image">
  <img src="https://s3.ap-south-1.amazonaws.com/ostinohealth/static/trees/Eucalyptus.jpg">
</div>

<div class="content">

  <h2>EUCALYPTUS TREE (Scientific Name: Eucalyptus globulus, Eucalyptus polybrachtea)</h2>

  <p style="font-style: italic;">  Other Species: Eucalyptus abdita, Eucalyptus acies, Eucalyptus lavourin, Eucalyptus albopurpurea, Eucalyptus alligatrix, Eucalyptus ammophila, Eucalyptus amplifolia, Eucalyptus andrewsii are the other related species of Eucalyptus. There are 700 species of Eucalyptus.  </p>

  <p>The name <i> Eucalyptus</i>, from the Greek words <i>eu-</i>, well, and <i>kaluptos</i>, cover, meaning "well-covered", describes the operculum (cap enclosing stamens in the flower). </p>

  <p>TThere are more than 700 species of eucalyptus and most are native to Australia; a very small number are found in adjacent areas of New Guinea and Indonesia. One species, <i>Eucalyptus deglupta</i>, ranges as far north as the Philippines. Of the 15 species found outside Australia, just nine are exclusively non-Australian. Species of eucalyptus are cultivated widely in the tropical and temperate world, including the Americas, Europe, Africa, the Mediterranean Basin, the Middle East, China, and the Indian subcontinent. </p>

  <h3>Description</h3>
  <p>Eucalyptus is a tall evergreen tree. It attains the height of more than 300 feet. Several eucalypt species are among the tallest trees in the world.<i> Eucalyptus regnans</i>, the Australian 'mountain ash', is the tallest of all flowering plants (angiosperms); today, the tallest measured specimen named Centurion is 99.6 m (327 ft) tall. </p>

  <p>Leaves of the tree on juvenile shoots are opposite, sessile, cordate-ovate and covered with a bluish white bloom. The adult leaves are alternate, lanceolate and are 6-12 inches long and 1-2 inches broad. The appearance of its bark varies with the age of the tree. Its bark consists of long fibres and can be can be pulled off in long pieces. Stems of the seedlings and coppice shoots are quadrangular. </p>

  <p>The most readily recognisable characteristics of eucalyptus species are the distinctive flowers and fruit (capsules or "gumnuts"). Flowers have numerous fluffy stamens which may be white, cream, yellow, pink, or red; in bud, the stamens are enclosed in a cap known as an operculum which is composed of the fused sepals or petals, or both. Thus, flowers have no petals, but instead decorate themselves with the many showy stamens. As the stamens expand, the operculum is forced off, splitting away from the cup-like base of the flower; this is one of the features that unites the genus. </p>

  <h3>Location</h3>
  <p>It is widely grown in Tamil Nadu, Andhra Pradesh, Gujrat, Haryana, Mysore, Kerala and in the Nilgiri Hill. It grows well in deep, fertile, well drained loamy soil with adequate moisture. </p>


  <h3>Cultivation methods </h3>
  <p>Eucalyptus grown in well drained sandy soil. It is propagated through seeds, soft wood cuttings and semi hard wood cuttings. At the time planting it must be taken into account that its roots are not broken. It needs water before and after planting. It requires full sunlight. </p>

  <p>In India, the Institute of Forest Genetics and Tree Breeding, Coimbatore started a eucalyptus breeding program in the 1990s. The organisation released four varieties of conventionally bred, high yielding and genetically improved clones for commercial and research interests in 2010.</p>

  <h3>Eucalyptus oil</h3>
  <p> Eucalyptus oil is readily steam distilled from the leaves and can be used for cleaning and as an industrial solvent, as an antiseptic, for deodorising, and in very small quantities in food supplements, especially sweets, cough drops, toothpaste and decongestants. It has insect repellent properties, and is an active ingredient in some commercial mosquito repellents. <i>Eucalyptus globulus</i> is the principal source of eucalyptus oil worldwide.</p>

  <h3> Medicinal uses</h3>
  <p>Eucalyptus is known for its use either as an essential oil or leaf tea for its ability to relieve congestion and ease breathing in colds. It oil is also used as the pain reliever for sore and over-extended muscles. The essential oil of Eucalyptus contains cineole, a potent antiseptic that helps in killing the bacteria and fungi.  </p>

  <h3>Ayurveda Uses </h3>
  <p>It is taken in all types of fever. It helps in purifying the blood. It brings relief to the patients of Asthma and bronchitis. It is the excellent topical remedy for aching joints and rheumatism. It helps in improving the blood circulation. </p>

  <h3>Other uses</h3>

  <p>Eucalyptus is used as the pulpwood in the manufacture of the paper as well as raw material. It is used as the poles for the construction of huts and houses. It is used in making plywood, doors and windows. The fibre length of Eucalyptus is relatively short and uniform with low coarseness compared with other hardwoods commonly used as pulpwood. The fibres are slender, yet relatively thick walled. This gives uniform paper formation and high opacity that are important for all types of fine papers. The low coarseness is important for high quality coated papers. Eucalyptus is suitable for many tissue papers as the short and slender fibres gives a high number of fibres per gram and low coarseness contributes to softness. </p>


</div>

<div class="pagination">
  <a href="/neem">&laquo;</a>
  <a href="/banyan">1</a>
  <a href="/peepal" >2</a>
  <a href="/neem" >3</a>
  <a href="/eucalyptus"  class="active">4</a>
  <a href="/jamun">5</a>
  <a href="/tamarind">6</a>
  <a href="/jamun">&raquo;</a>
</div>

<!-- return to top -->
<div class="return-to-top">
  <i class="fa fa-chevron-circle-up" aria-hidden="true" (click)="topFunction()" id="myBtn"></i>
</div>

