/*

.bgimg{
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  font-size: 25px;
}



.middle {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}


#demo{
  font-size: 30px;
}




@media screen and (max-width: 600px) {

  .


  .bgimg{
    background-image: url("../../../images/blur-background-6z.jpg");
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: white;
  }

  .bgimg img{
    display: none;
  }

  .middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #demo{
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {



  .bgimg{
    background-image: url("../../../images/blur-background-6z.jpg");
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: white;
  }

  .bgimg img{
    display: none;
  }

  .middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #demo{
    font-size: 15px;
  }
}
*/


body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}

.topnav {
  width:100%;
  overflow: hidden;
  background-color: #f2f2f2;
  border-bottom: 4px solid #800000;
  padding-top: 0;
  margin: 0;
  top:0;
}

.topnav_right{
  float:right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #511515;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  margin-right: 64px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: black;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown:hover .dropbtn {
  background-color:#800000;
  color: white;
  height: 63px;
}

.dropdown-content a:hover {
  background-color: #800000;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.container{
  height: 100vh;
  background-color: #bbb;
}

.bgimg{
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  font-size: 25px;
}



.middle {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

#demo{
  font-size: 30px;
}

/* footer */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #800000;
  color: white;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.footer p,a{
  color:white;
  text-decoration: none;
}
.footer_column{
  width: 49%;
  float: left;
  display:inline;
}

.footer_row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {

  .dropdown .dropbtn {
    margin-right: 0px;
  }


  .bgimg{
    background-image: url("../../../images/blur-background-6z.jpg");
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: white;
  }

  .bgimg img{
    display: none;
  }

  .middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #demo{
    font-size: 15px;
  }

  .footer{
    position: static;
    overflow: hidden;
    line-height: 30px;
    padding-bottom: 0px;
    height: 80px;
  }
  .footer_column{
    font-size: 13px;
    width: 100%;
  }



}

@media screen and (max-width: 900px) {

  .dropdown .dropbtn {
    margin-right: 0px;
  }


  .bgimg{
    background-image: url("../../../images/blur-background-6z.jpg");
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: white;
  }

  .bgimg img{
    display: none;
  }

  .middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #demo{
    font-size: 15px;
  }

  .footer{
    position: static;
    overflow: hidden;
    line-height: 30px;
    padding-bottom: 0px;
    height: 80px;
  }
  .footer_column{
    font-size: 13px;
    width: 100%;
  }
}
