body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}

.container{
  height: 100vh;
  background-color:#9999ff;
}

.bgimg{
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  font-size: 25px;
}



.middle {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

#demo{
  font-size: 30px;
}



@media screen and (max-width: 600px) {

  .dropdown .dropbtn {
    margin-right: 0px;
  }


  .bgimg{
    background-image: url("../../../images/blur-background-6z.jpg");
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: white;
  }

  .bgimg img{
    display: none;
  }

  .middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #demo{
    font-size: 15px;
  }

  .footer{
    position: static;
    overflow: hidden;
    line-height: 30px;
    padding-bottom: 0px;
    height: 80px;
  }
  .footer_column{
    font-size: 13px;
    width: 100%;
  }



}

@media screen and (max-width: 900px) {

  .dropdown .dropbtn {
    margin-right: 0px;
  }


  .bgimg{
    background-image: url("../../../images/blur-background-6z.jpg");
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: white;
  }

  .bgimg img{
    display: none;
  }

  .middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #demo{
    font-size: 15px;
  }

  .footer{
    position: static;
    overflow: hidden;
    line-height: 30px;
    padding-bottom: 0px;
    height: 80px;
  }
  .footer_column{
    font-size: 13px;
    width: 100%;
  }
}
