<div class="topnav" id="myTopnav">
  <a href="index.html"><img class="logo" src="images/ostino_logo1.png" width="180px" height="30px"> </a>
  <div class="topnav_right">
    <div class="dropdown">
      <button class="dropbtn"  onclick="window.location.href='index.html'">Home
      </button>
    </div>

    <div class="dropdown">
      <button class="dropbtn">About Us
      </button>
      <div class="dropdown-content">
        <a href="/what-we-stand-for">What We Stand For</a>
        <a href="/directors">Directors</a>
        <a href="/corporate-responsibility">Corporate Responsibility</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Our Offerings
      </button>
      <div class="dropdown-content">
        <a href="/for-doctors">For Doctors</a>
        <a href="/for-patients">For Patients</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Resources
      </button>
      <div class="dropdown-content">
        <a href="/social">Social Media</a>
        <a href="/our-stories">Our Stories</a>
        <a href="/fortune">Fortune Cookie</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Contact
      </button>
      <div class="dropdown-content">
        <a href="/career">Career</a>
        <a href="/queries">Queries</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"  onclick="window.location.href='index.html'">Username
      </button>
      <div class="dropdown-content">
        <a href="/ecom/home/profile"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-1x icon-background1"></i>
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
          My Profile</a>
        <a href="/ecom/home/myorders"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-1x icon-background1"></i>
          <i class="fa fa-folder fa-stack-1x"></i>
        </span>
          My Orders</a>
        <a href="#"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-1x icon-background1"></i>
          <i class="fa fa-power-off fa-stack-1x"></i>
        </span>
          Logout</a>
      </div>
    </div>



    <div class="dropdown">
      <a class="dropbtn" href="/ecom/login">Login & Signup
      </a>
    </div>

    <div class="dropdown">
      <a class="dropbtn" (click)="redirect()"><i class="fa fa-shopping-cart" ></i>  Cart
      </a>
    </div>

    <a href="javascript:void(0);" style="font-size:20px;color:black;" class="icon" (click)="menu()">&#9776;</a>
  </div>
</div>
