/*
!*body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}*!


.topnav {
  width:100%;
  overflow: hidden;
  background-color: #f2f2f2;
  border-bottom: 4px solid #800000;
  padding-top: 0;
  margin: 0;
  top:0;
}

.topnav_right{
  float:right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #511515;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: black;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown:hover .dropbtn {
  background-color:#800000;
  color: white;
  height: 63px;
}

.dropdown-content a:hover {
  background-color: #800000;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.button{
  background-color: #4040bf;
  color: white;
  padding: 15px 10px 15px 10px;
  border-radius: 30px;
  font-size: 18px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color:#8c8cd9 ;
  color: white;
}


* {
  box-sizing: border-box;

}

!* Create three equal columns that floats next to each other *!

i.fa {
  border: 4px solid;
  display: inline-block;
  border-radius: 100px;
  padding: 0.4em 0.6em;
  font-size: 40px;
}


!* bottom menu *!






@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav_right{
    float:none;
  }

  .button{
    padding: 10px 7px 10px 7px;
    border-radius: 30px;
    font-size: 12px;
    float: none;
    cursor: pointer;
    font-weight: bold;
    margin:auto;
    display:block;
    margin-top: 10px;
  }


  i.fa {
    font-size: 30px;
  }

}



@media screen and (max-width: 900px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav_right{
    float:none;
  }


  .button{
    padding: 10px 7px 10px 7px;
    border-radius: 30px;
    font-size: 12px;
    float: none;
    cursor: pointer;
    font-weight: bold;
    margin:auto;
    display:block;
    margin-top: 10px;
  }


  .img{
    padding-top: 10px;
    width: 100%;
    height:auto;
  }

  i.fa {
    font-size: 35px;
  }
}

*/

body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}


.topnav {
  width:100%;
  overflow: hidden;
  background-color: #f2f2f2;
  border-bottom: 4px solid #800000;
  padding-top: 0;
  margin: 0;
  top:0;
}

.topnav_right{
  float:right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;    
    border: none;
    outline: none;
    color: #511515;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: black;
  border-radius: 3px;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown:hover .dropbtn {
  background-color:#800000;
  color: white;
  margin-top: 5px;
  border-radius: 3px;
}

.dropdown-content a:hover {
  background-color: #800000;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#ex4 .p1[data-count]:after{
  position:absolute;
  right:10%;
  top:8%;
  content: attr(data-count);
  font-size:40%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  //font-weight:bold;
}
.item-count{
  position:absolute;
  right:10%;
  top:8%;
  content: attr(data-count);
  font-size:40%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  //font-weight:bold;
}


.fa-user,.fa-folder,.fa-power-off{
  color: black;
  font-size: 15px;
}


.icon-background1 {
  color: #f5f5f5;
  margin: 0;
}

.username-dropdown a{
  padding: 0;
  margin: 0;
}











@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    margin: 0;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav_right{
    float:none;
  }


}


@media screen and (max-width: 900px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    margin: 0;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav_right{
    float:none;
  }
}
