<div class="topnav" id="myTopnav">
  <a href="index.html"><img class="logo" src="https://s3.ap-south-1.amazonaws.com/ostinohealth/static/logo/ostino_logo1.png" width="180px" height="30px"> </a>
  <div class="topnav_right">
    <div class="dropdown">
      <button class="dropbtn"  onclick="window.location.href='index.html'">Home
      </button>
    </div>

    <div class="dropdown" *ngIf="!isEcommerce">
      <button class="dropbtn">About Us
      </button>
      <div class="dropdown-content">
        <a href="/what-we-stand-for">What We Stand For</a>
        <a href="/directors">Directors</a>
        <a href="/corporate-responsibility">Corporate Responsibility</a>
      </div>
    </div>

    <div class="dropdown" *ngIf="!isEcommerce">
      <button class="dropbtn">Our Offerings
      </button>
      <div class="dropdown-content">
        <a href="/doctors">For Doctors</a>
        <a href="/leadership">Leadership Consulting & Executive Search</a>
        <a href="/patients">For Patients</a>
        <!-- <a href="/consumers">For Consumers</a> -->
        <a href="/government">For Government</a>
      </div>
    </div>

    <div class="dropdown" *ngIf="!isEcommerce">
      <button class="dropbtn">Resources
      </button>
      <div class="dropdown-content">
        <a href="/social">Social Media</a>
        <a href="/our-stories">Our Stories</a>
        <a href="https://surajit-b.com/" target="_blank">Health & Tech Blog</a>
        <a href="/trees">Indian Trees</a>
        <a href="/fortune">Fortune Cookie</a>
      </div>
    </div>

    <div class="dropdown" *ngIf="!isEcommerce">
      <button class="dropbtn" style="margin-right:64px;">Contact
      </button>
      <div class="dropdown-content">
        <a href="/career">Career</a>
        <a href="/queries">Queries</a>
        <a href="/subscribe">Subscribe</a>
      </div>
    </div>

    <div class="dropdown" *ngIf="isEcommerce && isLoggedIn">
      <button class="dropbtn"  onclick="window.location.href='/ecom/home/profile'">{{userdetails.name}}
      </button>
      <div class="dropdown-content username-dropdown">
        <a href="/ecom/home/profile"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-1x icon-background1"></i>
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
          My Profile</a>
        <a href="/ecom/home/myorders"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-1x icon-background1"></i>
          <i class="fa fa-folder fa-stack-1x"></i>
        </span>
          My Orders</a>
        <a  style="cursor: pointer;" (click)="logout()"><span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-1x icon-background1"></i>
          <i class="fa fa-power-off fa-stack-1x"></i>
        </span>
          Logout</a>
      </div>
    </div>



    <div class="dropdown" *ngIf="isEcommerce && !isLoggedIn">
      <a class="dropbtn" href="/ecom/login" style="margin-right:64px;">Login & Signup
      </a>
    </div>

    <div class="dropdown" *ngIf="isEcommerce && isLoggedIn">

      <a class="dropbtn" (click)="redirect()" style="margin-right:64px;cursor:default;padding-top: 7px;padding-bottom:6px;">
      <b id="ex4">
          <span class="p1 fa-stack fa-1x has-badge">
            <b class="item-count" *ngIf="numberOfItems > 0">{{numberOfItems > 0 ? numberOfItems : ''}}</b>
            <!--<i class="p2 fa fa-circle fa-stack-2x"></i>-->
            <i class="p3 fa fa-shopping-cart " data-count="4b"></i>
          </span>
        </b>Cart
      </a>
    </div>

    <a href="javascript:void(0);" style="font-size:20px;color:black;" class="icon" (click)="menu()">&#9776;</a>
  </div>
</div>
