<div class="content">
  <h1>Forgot to take your medicine? Adhering to your Doctor's prescription becoming a challenge? </h1>
  <p>Compliance to a prescription is attainable, if you follow Steps 1, 2 and 3. Interested? Read on.</p>
  <button class="button" onclick=" window.open('https://play.google.com/store/apps/details?id=com.mim.medapp&hl=en_IN','_blank')"> Sign Up</button><br>
  <b>This application is provided free of cost. </b>
</div>


<div class="wrapper" style="background-color: #ebebe0">
  <p>You are not alone. Majority of patients do not take their medications as prescribed; some do not take it at all. It is a huge problem. The practice has become commonplace; to the extent that various medical associations in India are nowadays alluding to it as an epidemic.<br><br>
    We did our research and listed below are some of the reasons cited for non-compliance.<br>

  <ul>
    <li> <strong style="color:#511515"> Symptoms have disappeared </strong>, there is no rationale for continuing taking pills. If symptoms reappear, the game changes and it is back to the schedule.<br> </li>
    <li>  <strong style="color:#511515">Affordability issue, unable to avail transportation </strong>to a pharmacy store. You have to make decisions especially in one of the world's most affordable markets kept in place by Government regulations.</li>
    <li> <strong style="color:#511515">Elderly patients</strong> put on multiple medicines each with its own timetable would need full time secretarial assistance to organize. Understand the issue.</li>
    <li> Some have<strong style="color:#511515"> parents / grandparents at home dependent on pills </strong> and hence promise never to become like them. In fact, after interacting with them, we do not blame them.</li>
    <li> I do not have <strong style="color:#511515">regular eating routines</strong> and hence unable to remember taking medicines. Common and yet counter-intuitive; building right habits is the key to maintaining compliance.</li>
    <li> Medical science is still in its infancy and there are other ways to get better such as<strong style="color:#511515"> Ayurveda, Unani, Alternative Therapies</strong>; the list goes on. Possible not probable.</li>
    <li><strong style="color:#511515">Psychology effect</strong>; linking taking medicines to failure. We do not understand this aspect.
    <li><strong style="color:#511515"> Age denial</strong> syndrome; not ready to accept that they are aging.</li>
    <li><strong style="color:#511515"> Treatment interfering with work</strong> responsibilities that could compromise their ability to continue working. Cannot be denied.</li>
    <li> <strong style="color:#511515">Mistrust of the medical profession</strong> basis Google news and media stories on malpractice. Fear of adverse effects much more than the good effects.</li>
    <li> <strong style="color:#511515"> Losing hope </strong> that treatment can solve disease and not be symptomatic in nature. </li>
    <li> Faith moves mountains. I would put myself in <strong style="color:#511515">God's hands </strong> as opposed to man made chemicals. </li>
  </ul>

  We thought through in depth, interacted with Medical Professionals and patients, mapped out issues, developed hypothesis, ran pilots and arrived at the conclusion that, simply put, it is the absence of right habits and consistent routines that cause non-adherence.<br>
  <p><strong>Listed below are Steps 1, 2 and 3 that we recommend:</strong> <br>
    1. Store drugs near the place where it is being used. Practical solution, yet we need to ensure caution, such as presence of kids at home.<br>
    2.  Externalize the reminders through calendar entries or through technology such as mobile apps designed to do just this.<br>
    3. Club it with an old habit. Our research threw up linking mechanisms of high adherence patients; mental linking of taking pills to specific activities such as evening TV series.</p></div>
<br>
<div class="bottom_content">
  <img src="images/MedthathealsFinal.png" class="icn">  <strong style="color:#511515"> provides peace of mind and externalizes the reminders</strong>. It helps you build habits and at the same time avail the benefits of adhering to prescriptions, as prescribed. It will be your friend and play the devil's advocate throughout the duration of the course, ensuring you achieve adherence to therapy.<br>
  This application allows the users to add their medicines against the diseases and sub-diseases that they are suffering from. Using this application, the users can set reminders through SMS, Email & In-App notifications so that they don't miss out on having their prescribed medicines on time.<br>
  We have kept a Caregiver option to cater to elderly patient segment. Caregivers need to register patient details that they are looking after and their medicine details and ensure timely medicine taking for their patients.
  Download from Google Playstore now. <br>
  Keen to share your views as patients on this aspect. Drop a mail at <a href="mailto:contact@ostinohealth.com">contact@ostinohealth.com</a>
</div>

<!--terms and conditions-->
<div class="terms">
  <a href="/terms-for-patients">Terms For Patients </a>
</div>
<!--terms and conditions ends-->


