<div class="heading">
      <h1>Right leaders make a difference. Right leaders are transformational.</h1>
      <p>Leadership Consulting & Executive Search </p>
    </div>

  <div class="box">
    <div class="content">
    <p>We are big believers on focus. We focus on:</p>
    <p><b>SECTOR</b></p>
      <p> Life sciences (pharmaceuticals, biotechnology, contract research & / or manufacturing       services)  and Healthcare sector only. <br>
      We know and understand this sector. Our team brings together deep domain experience in industry as well as sector specific consulting. 
    </p>
    <p><b>SOLUTIONS</b></p>
    <ol> 
      <li>Executive Search & Assessment</li>
      <p>Senior level executives operate at the intersection of various stakeholders. Identifying, attracting, assessing, and evaluating talent is critical. We leverage our industry connect and access on a process platform to ensure the right talent is brought on board.
    </p>

    <li>Senior executive onboarding</li>
     <p>Senior executive onboarding programs need to be tailored individually to the needs of an individual and the organization. </p>
   </ol>
   </div>

     <div class="box-highlight">
      <div class="content">
        <p>We took time out to figure key reasons for new executive failure through interactions, interviews and published literature. The outcome was that new executives generally fail due to five key reasons:</p>

        <ul>
          <li>Cultural fitment.</li>
          <li>Teamwork with staff and peers.</li>
          <li>Unclear expectations about performance.</li>
          <li>Political savviness.</li>
          <li>Lack of a strategic and formal assimilation process.</li>
        </ul>
        
        <p>Additional insight garnered in an Indian context was that some organizations do not emphasize onboarding of new executives as they wish to avoid offending existing professionals, who may perceive such program as hint of capability gaps. Research indicates that onboarding programs may be more critical as they face much higher performance expectations with a greater impact on the overall performance of the organization.</p>
        <p>Recruitment and onboarding of new senior leaders – be it through internal promotion or external selection – should not be taken lightly. Proper planning with execution is the key.</p>
      </div>
     </div>
    
    <div class="box">
     <div class="content">
        
        <ol>
        <li  value="3"> Leadership Capability Assessment & Senior executive onboarding 
              <p>We provide leadership capability assessments and senior executive onboarding.<br> 
              There is a range of elements of leadership capability assessments and we bring a partnership approach to what is relevant in your context. 
              Senior executive onboarding programs need to be tailored individually to the needs of an individual and the organization.</p>
        </li>
        <li value="4">Organization structure design
            <p>Design organization structure aligned to your business and operating model. In an earlier era, organization design meant restructuring to achieve cost efficiencies. Today, organization design is more to do with identifying cost efficiencies and allocating resources to drive growth and efficiency across various levels. <br>
            Even with the shift the fundamentals remain unchanged, and that is, supporting a leader to move from defining strategy to putting in place an organization that enables execution of the strategy.</p>
        </li>
      </ol>
      <p>Interested to know more? <br>
        Start a conversation by getting in touch with us at <a href="mailto:contact@ostinohealth.com">contact@ostinohealth.com</a></p>
     </div>
  </div>