<!-- Buttons-->
 <div class="btn-row">
   <div class="btn-column" >
      <button class="btn-glow" onclick="window.location.href='consumers'">Select Items for Sale</button>
    </div>
    <div class="btn-column btn-column-blog">
    <a href="https://surajit-b.com/" target="_blank"><button class="btn-blog">Health & Tech Blog</button></a>
  </div>
    <div class="btn-column-right">
      <button class="btn-fortune"  onclick="window.location.href='fortune'">Your Fortune Cookie</button>
    </div>
    </div>


<div class="container">

  <div class="row">
  <div class="column left">
    <img  class="banner" src="images/EarthChange.jpg"   height="450px">
  </div>
  <div class="column right">
     <h1>Our Earth is changing.<br><br>
         We can challenge the status quo or drive change. <br><br>
        Life. Health. Technology.<br><br>
      </h1>
  </div>
</div>


<div class="row" style="background-color: #e6e6e6;">
    <div class="column column-left">
      <img  src="images/rxthru.png" width="90%" height="200px;">
    </div>
    <div class="column column-right">
         <h1>Simple, secure and hassle-free Practice Management platform for Medical Professionals</h1>
       <p>Practice management platform incorporating electronic prescription, medical records, analytics and algorithms that enhances productivity, improves patient outcomes and save costs.</p>
        <a href="/home" ><button class="button">Read More</button></a>
    </div>
  </div>



  <div class="row">
    <div class="column column-left leadership-logo">
      <img  src="images/Leadership.jpg" height="300px;">
    </div>
    <div class="column column-right">
       <h1>Leadership Consulting & Executive Search </h1>
      <p>Recruitment and onboarding of new senior leaders – be it through internal promotion or external selection – should not be taken lightly. Proper planning with execution is the key. Ostino provides leadership consulting and executive search in life sciences and healthcare sector.</p>
      <a href="leadership"><button class="button">Read More</button></a>
    </div>
  </div>

  <div class="row" style="background-color: #e6e6e6;">
  <div class="column column-left" style="text-align: center;">
    <img  class="med-logo" src="images/MedthathealsFinal.png" width="60%">
  </div>
   <div class="column column-right">
     <h1>Patient Mobile App for Medication Alert</h1>
        <p>User friendly mobile app that allows users to set reminders through SMS, Email & In-App notifications to ensure adherence to therapy.</p>
       <a href="patients"><button class="button">Read More</button></a>
  </div>
  </div>



  <div class="row">
     <div class="column column-left leadership-logo">
        <img  src="images/ThinkingforHealth.jpg" height="300px;">

      </div>
   <div class="column column-right">
        <h1>Government Consulting</h1>
        <p>Leveraging sector expertise and technology to provide solutions to Central and State Governments in the domain of life sciences and healthcare. We apply a bespoke data insights approach to each and every problem.</p>
        <a href="government"><button class="button">Read More</button></a>
    </div>
  </div>
</div><!--container ends-->

<!--bottom menu starts-->

<div class="row3">
  <div class="column3">
    <h2>About Us</h2>
    <ul>
      <li><a href="what-we-stand-for">What We Stand For  </a> </li><br>
         <li><a href="directors"> Founders </a></li><br>
         <li><a href="corporate-responsibility">Corporate Responsibility </a></li>
    </ul>
  </div>
  <div class="column3">
    <h2> Our Offerings</h2>
     <ul>
      <li><a href="doctors"> For Doctors</a></li><br>
      <li><a href="leadership">Leadership Consulting & Executive Search</a></li><br>
         <li><a href="patients"> For Patients </a></li><br>
          <li><a href="consumers"> For Consumers </a></li><br>
         <li><a href="government"> For Government</a></li><br>
         <li><a href="terms-and-conditions">Terms For Medical Practioners </a></li>
    </ul>
  </div>
  <div class="column3">
    <h2> Resources</h2>
   <ul>
         <li><a href="social">Social Media</a></li><br>
         <li><a href="our-stories">Our Stories </a></li><br>
         <li><a href="https://surajit-b.com/" target="_blank">Health & Tech Blog</a></li><br>
         <li> <a href="fortune">Fortune Cookie</a></li>
    </ul>
  </div>
  <div class="column3">
    <h2> Contact</h2>
     <ul>
      <li><a href="career"> Career</a></li><br>
         <li><a href="queries"> Queries</a></li>
    </ul>
  </div>

</div>

<!--bottom menu ends-->
