

<div class="container">

  <div class="left-panel">
    <div class="left-content1">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="text">Hello<br><b>{{userdetails.name}}</b></span>
    </div>

    <div class="gap"></div>

    <div class="left-content2">
      <div class="order">
        <a routerLink="/ecom/home/myorders"><i class="fa fa-folder" aria-hidden="true"></i><b>MY ORDERS</b> <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </div>
     <br>
      <div class="account">
        <i class="fa fa-user" aria-hidden="true"></i><b>ACCOUNT SETTINGS</b>
      </div>
      <div class="profile">
        <a  routerLink ="/ecom/home/profile"><h3>Profile Information</h3></a>
        <a  routerLink="/ecom/home/address"><h3>Manage Addresses</h3></a>
      </div>
    </div>

    <div class="gap"></div>

    <div class="left-content3">
      <div class="logout">
        <a (click)="logout()" style="cursor: pointer;"><i class="fa fa-power-off" aria-hidden="true"></i><b>Logout</b></a>
      </div>

    </div>

  </div>

<router-outlet> </router-outlet>




