<div class="container">

  <div class="wrapper">



    <div class="title">
      <b><a href="#"> My Account  </a><i class="fa fa-chevron-right" aria-hidden="true"></i> My Orders</b>
    </div>

    <div class="orders" *ngFor="let order of myorders">

      <button class="button">Order ID No. {{order.order_id}}</button>
      <hr>

      <div class="row">
        <div class="column" >
          <img  class="product-image" src="images/sample.jpeg">

        </div>

        <div class="column">
          <a href="#"> <b>Product Name</b> {{order.name}} </a>
          <p>Description</p>

        </div>

        <div class="column">
          <b>Ordered On</b><br><br>
          <b>Delivered On</b>
        </div>

        <div class="column">
          <b>Price: {{order.price}}</b>
        </div>

      </div> <!--row ends-->

    </div><!--orders ends-->



  </div> <!--wrapper ends-->

</div><!--container ends-->

