/*
body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}

body{
  height: 100%;
}

.container{
  !* 	display: flex;
  !* align-items: center; *!
  !*height: 100vh;*!
}

.wrapper{
  display: block;
  height: 100%;
  padding-bottom: 6%;
  overflow: hidden;
  border: 1px solid #990000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.title{
  width:95%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2%;
}
.title a{
  text-decoration: none;
  color:black;
}
.title a:hover{
  color:#990000;
}
.title b{
  font-size: 22px;
}

.orders{
  width: 95%;
  background-color: white;
  border:1px solid #990000;
  margin-right:auto;
  margin-left: auto;
  margin-top: 20px;
}
.button {
  background-color: #990000;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 8px;
  cursor: pointer;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 20px 80px 20px;
  !*  height: 300px; !* Should be removed. Only for demonstration *!
}

!* Clear floats after the columns *!
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column a{
  text-decoration: none;
  color:black;
}
*/


body {margin:0;font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}


.container{
  background-color: white;
  overflow: hidden;
  min-height: 100vh;
}
.wrapper{
  margin-top: 7%;
  margin-bottom: 7%;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 0px 10px;
  /* Should be removed. Only for demonstration */
}

.column-right {
  float: right;
  width: 25%;
  padding: 0px 10px;
  /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.header-bar{
  border-bottom: 1px solid #8c8c8c;
  background-color: #ffe6e6;
  border-radius: 3px;
}
.header-bar a{
  text-decoration: none;
  color: black;
}
.box{
  border:1px solid #8c8c8c;
  background-color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-top: 1%;
}
.details{
  padding: 15px;
}
.product-img{
  height: 100px;
}
.col-25 {
  float: left;
  width: 25%;
  padding: 0px 10px;
  /* Should be removed. Only for demonstration */
}
.col-75 {
  float: left;
  width: 75%;
  padding: 0px 10px;
  /* Should be removed. Only for demonstration */
}
.details a{
  text-decoration: none;
  color:#262626;
}
.details a:hover{
  color:black;
}


@media only screen and (max-width: 600px) {

  .column {
    width: 100%;
    text-align: left;
  }

  .column-right {
    width: 100%;
    text-align: left;
  }
  .header-bar{
    font-size: 13px;
    line-height: 0px;
  }
  .box{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-25 {
    width: 100%;
    text-align: center;
  }
  .col-75 {
    width: 100%;
    text-align: center;
  }
  .box{
    margin-top: 5px;
  }
}

@media only screen and (max-width: 900px) {

  .column {
    width: 100%;
    text-align: left;
  }

  .column-right {
    width: 100%;
    text-align: left;
  }
  .header-bar{
    font-size: 13px;
    line-height: 0px;
  }
  .box{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-25 {
    width: 100%;
    text-align: center;
  }
  .col-75 {
    width: 100%;
    text-align: center;
  }
  .details h3{
    text-align: center;
  }
  .details{
    padding: 0;
  }
  .box{
    margin-top: 5px;
  }

}
