<div class="content">
  <h1>Know your trees. Invest in your future!</h1>
</div>

<div class="wrapper" style="background-color: #ebebe0">
  <p>In many myths, a tree is a vital part of the structure of the universe. Gods and their messengers travel from world to world by climbing up or down the tree.
  </p>

  <p>Hindu literature describes a celestial tree as having its roots in the heaven and its branches in the underworld that unites and connects beings of every kind. The mythology of early India, preserved in texts called the Upanishads, includes a cosmic tree called Asvattha. It is the living universe, an aspect of Brahman, the world spirit. This cosmic tree reverses the usual order. Its roots are in the sky, and its branches grow downward to cover the earth.
  </p>

  <h3>Did you know:</h3>

  <ul>

    <li>Banyans are strangler figs. They grow from seeds that land on other trees. The roots they send down smother their hosts and grow into stout, branch-supporting pillars that resemble new tree trunks.</li>
    <li>The banyan (Ficus benghalensis) is one of more than 750 species of fig trees, each of which is pollinated only by its own species of tiny wasps that breed only inside the figs of their partner trees.</li>
    <li> Hindus say a banyan tree at Jyotisar is the one Krishna stood beneath when he delivered the sermon of the Bhagavad Gita.</li>
    <li> The first Europeans to encounter banyan trees were Alexander the Great and his army, who reached India in 326 BCE. The notes they took back to Greece informed Theophrastus, the founder of modern botany, and - ultimately - led 17th-century English poet John Milton to write in Paradise Lost that Adam and Eve made the first clothes from banyan leaves.</li>
    <li> During India's struggle for independence from Britain, the British hanged hundreds of rebels to their deaths from banyan trees. Independent India made the banyan its national tree.</li>
    <li>The vitamin content of mango depends on the variety and maturity of the fruit. When a mango is green and still growing there is a high vitamin C content, as the fruit ripens and matures the amount of vitamin A increases.</li>
    <li> The mango is a member of the Anachardiaceae family. Other distant relatives include the cashew, pistachio, Jamaica plum, poison ivy and poison oak.</li>
    <li>Burning of mango wood, leaves and debris is not advised - toxic fumes can cause serious irritation to eyes and lungs.</li>
    <li> As per recorded history, Emperor Akbar planted 1,00,000 trees in Darbhanga which is in the state of Bihar in India.</li>
    <li> Jamun or Black plums contain a significant amount of vitamin C, iron, magnesium, B-family vitamins, and dietary fibre, as well as potassium, vitamin A and small amounts of protein.</li>
    <li> Lychee is a perennial plant that can survive around 1,000 years in the wild.</li>
    <li> Lychee is also known as the "Chinese strawberry" because it comes from China and looks like a strawberry. The fruit is a symbol of love and romance in China.
    </li>
  </ul>

  <p>With that let us delve a bit more into specific types of trees common to the Indian subcontinent.</p>

  <h3>COMMON TREES</h3>

  <ol>

    <li><a href="/banyan"> Banyan </a> </li>
    <li><a href="/peepal">Peepal </a> </li>
    <li><a href="/neem">Neem </a></li>
    <li><a href="/eucalyptus">Eucalyptus </a></li>
    <li><a href="/jamun">Jamun </a></li>
    <li><a href="/tamarind">Tamarind </a></li>
    <li><a href="/gulmohar">Gulmohar </a></li>
    <li><a href="/mango">Mango </a></li>
    <li><a href="/lychee">Lychee </a></li>
    <li> <a href="/sheesham ">Indian Rosewood / Shisham </a></li>
    <li><a href="/ashoka">Ashoka </a></li>
    <li><a href="/sal">Sal</a></li>
  </ol>

</div>

<div class="credit">
  <a href="https://www.wikipedia.org" target="_blank"><i>Reference: Wikipedia</i> </a>
</div>

